
@{
    Layout = "JyotishLayout";
  
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<style>
    .main-container {
        overflow: hidden;
        padding: 15px;
        border-radius: 0px 10px 10px 0px;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    }

    .left-part img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        border-radius: 10px 0px 0px 10px;
    }

    .right-part form input, .right-part form button {
        font-size: 13px;
    }

    .right-part button {
        background-color: #138496;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .right-part button:hover {
            background-color: #138496;
            color: white;
        }
</style>

<div class="container d-flex justify-content-center align-items-center min-vh-90 mt-4">
    <div class="main-container row w-75 rounded-3">
        <!-- Left part for image -->
        <div class="col-md-5 left-part d-flex justify-content-center align-items-center">

            <img src="~/gif/orguvc-l_bus-09_single-10.jpg" alt="member image" class="responsive-image" />
        </div>

        <!-- Right part for the signup form -->
        <div class="col-lg-7 col-md-12 p-2 bg-white right-part ">
            <h5 class="mb-3 text-center">Member Information</h5>
            <form id="TeamMemberRegistrationForm">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter your name">
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="mobile" class="form-label">Mobile Number</label>
                        <input type="number" class="form-control" id="mobile" placeholder="Enter your mobile number">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="profilePicture" class="form-label">Profile Picture</label>
                        <input type="file" class="form-control" id="profilePicture">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email">
                    </div>
                </div>
                 
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-primary px-3">Submit</button>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>




<script>
    $('#TeamMemberRegistrationForm').on("submit", function (event) {
        event.preventDefault();
         
        // Set JyotishEmail from localStorage
       

        // Create a new FormData object to handle file uploads and other form data
        const formData = new FormData();
        formData.append('Name', document.getElementById("name").value);
        formData.append('Mobile', document.getElementById("mobile").value);
        formData.append('Email', document.getElementById("email").value);
            formData.append('Id', localStorage.getItem("Id")); 
        formData.append('ProfilePicture', document.getElementById("profilePicture").files[0]);

        console.log(formData);
        $.ajax({
            url: BaseUrl +`api/Jyotish/AddTeamMember`, // API endpoint to fetch data
            type: 'POST',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token2")}` // Example of an authorization header
            },
            data: formData,
            processData: false, // Important: Prevent jQuery from processing the data
            contentType: false, // Important: Let the browser set the content type
            success: function (response) {
                 
                console.log('Success:', response);
                alert('Form submitted successfully!');
                $('#TeamMemberRegistrationForm')[0].reset(); // Reset the form
            },
            error: function (xhr, status, error) {
                 
                console.error('Error:', error);
                console.log('XHR:', xhr.statusCode);
                alert('There was an error submitting the form.');
            }
        });
    });
</script>



