@{
    Layout = "JyotishLayout";
 
}



<!-- Font Awesome for icons -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Custom CSS for Styling -->


<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet" />

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  color: hsl(233, 13%, 49%);
  margin: 3.3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub {
  background: linear-gradient(
    135deg,
    rgba(163, 168, 240, 1) 0%,
    rgba(105, 111, 221, 1) 100%
  );
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* height: 25px;
  width: 50px; */
  height: 1.6rem;
  width: 3.3rem;
  border-radius: 1.6rem;
  padding: 0.3rem;
}
.circle {
  background-color: #fff;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  color: hsl(233, 13%, 49%);
  border-radius: 0.8rem;
}

.card:hover.active {
  background: linear-gradient(
    135deg,
    rgba(163, 168, 240, 1) 0%,
    rgba(105, 111, 221, 1) 100%
  );
  color: #fff;
  display: flex;
  align-items: center;
  transform: scale(1.1);
  z-index: 1;
}

    .details {
  margin: 2.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-left:0 !important;
}

        .details li {
  list-style-type: none;
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 1rem 0;
}

  .details li.price {
  font-size: 3rem;
  color: hsl(232, 13%, 33%);
  padding-bottom: 2rem;
}
.shadow {
  box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

.card:hover.active .price {
  color: #fff;
}

.btn-package {
  margin-top: 1rem;
  height: 2.6rem;
  width: 13.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: linear-gradient(
    135deg,
    rgba(163, 168, 240, 1) 0%,
    rgba(105, 111, 221, 1) 100%
  );
  color: #fff;
  outline: none;
  border: 0;
  font-weight: bold;
}

   .btn-package:hover.active-btn {
  background: #fff;
  color: hsl(237, 63%, 64%);
}
.bottom-bar {
  border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
}

.card.active .bottom-bar {
  border-bottom: 2px solid hsla(240, 8%, 85%, 0.253);
}
.pack {
  font-size: 1.1rem;
}

    .old-price{
        text-decoration:line-through;
    }

@@media (max-width: 280px) {
        .details {
    margin: 1rem;
  }
  h1 {
    font-size: 1.2rem;
  }

        .toggle-package {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80px;
  }
  .cards {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .card {
    transform: scale(0.8);
    margin-bottom: 1rem;
  }

        .card:hover.active {
    transform: scale(0.8);
  }
}

@@media (min-width: 280px) and (max-width: 320px) {
        .details {
    margin: 20px;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-bottom: 1rem;
  }

        .card:hover.active {
    transform: scale(1);
  }
}

@@media (min-width: 320px) and (max-width: 414px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-bottom: 1rem;
  }

        .card:hover.active {
    transform: scale(1);
  }
}
@@media (min-width: 414px) and (max-width: 768px) {
  .card {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }

        .card:hover.active {
    transform: scale(1);
  }
}
@@media (min-width: 768px) and (max-width: 1046px) {
  .cards {
    display: flex;
  }
  .card {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  .card:hover.active {
    transform: scale(1);
  }
}

</style>

    <header>
        <h1>Our Pricing</h1>
   
    </header>
    <div class="cards d-flex gap-3">
 
    </div>

<script>
    $(document).ready(function () {
        // API URL
        var apiUrl = BaseUrl + "Api/Jyotish/GetAllSubscription";
        Swal.fire({
            title: "Processing Your Request",
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        })
        // Make an AJAX request to get subscription plans
        $.ajax({
            url: apiUrl,
            type: "GET",
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token2")}`,
                'Content-Type': 'application/json'
            },
            success: function (response) {
                if (response.status === 200 && response.data.length > 0) {
                    var container = $(".cards");
                    container.empty();

                    $.each(response.data, function (index, item) {
                        var servicesHTML = "";
                        debugger;
                        let validFeature=[];
                        let invalidFeature = [];
                        $.each(item.features, function (index, feature) {
                            
                            if (feature.status == true) {
                                validFeature.push(feature.name)
                               
                            } else {
                                invalidFeature.push(feature.name)
                                                               
                            }
                        });

                        validFeature.forEach(function(d){
                            servicesHTML += `
                                                <li class="bottom-bar">
                                                <span class="me-1 text-success">
                                                        <i class="fa-solid fa-check"></i>
                                                </span>
                                                <a href="#!">${d}</a>
                                            </li>
                                        `;
                        })
                        invalidFeature.forEach(function(d){
                            servicesHTML += `
                                                <li class="bottom-bar">
                                                <span class="me-1 text-danger">
                                                       <i class="fa-solid fa-xmark"></i>
                                                </span>
                                                    <a href="#!" class="fs-6">${d}</a>
                                            </li>
                                        `;
                        })

                        // Generate the card HTML for each plan
                        var cardHTML = `


                            <div class="card active shadow">
                <ul class="details overflow-auto">
                        <li class="pack mx-0 justify-content-center mb-2 fs-4 fw-bold">${item.name}</li>
                                <li id="${item.name} class="price bottom-bar"> <span class="fs-3">${item.newPrice == 0 ? "Free" : "₹ " + item.newPrice}</span>&nbsp;&nbsp;${item.newPrice != 0 ? `

                                                            <span class="text-danger old-price fs-6">₹${item.newPrice+item.discountAmount}</span>
                                                  
                                                    <sup class="fs-6">${item.discount} %OFF</sup><br />
                                                ` : ""}
                                               </li>
                        ${servicesHTML}
                <li>
                         <button type="button" class="btn-package active-btn upgradePlan" ${planData[0].planId == item.subscriptionId ? "disabled" : ""} id = "upgradeBtn_${item.subscriptionId}"
                                                data-planId="${item.subscriptionId}" data-planType="${item.planType}"
                                                    data-planPrice="${item.newPrice}">${planData[0].planId == item.subscriptionId ? "Purchased" : "Upgrade"}</button></li>
                </ul>
            </div>




                               
                            `;
                             
                        container.append(cardHTML);
                        delete window.servicesHTML;
                        delete window.container;
                        delete window.cardHTML;
                      
                    });
                  
                    Swal.close()
                } else {
                    console.log("No subscription plans available or an error occurred.");
                }
            },
            error: function (error) {
                console.log("Error fetching subscription plans:", error);
            }
        });
    });

    // Attach click event to dynamically created buttons
    $(document).on('click', '.upgradePlan', function () {
        Swal.fire({
            title: 'Are you sure?',
            text: 'Client Are Arrived?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No, cancel',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
        Swal.fire({
            title: "Please wait...",
            text: "We are processing your request!",
            allowOutsideClick: false,
            didOpen: () => { Swal.showLoading(); }
        });

        var planId = $(this).data("planid");
        var planType = $(this).data("plantype");
        var planPrice = $(this).data("planprice");
        var JId = localStorage.getItem("Id");
        // Make AJAX call to initiate payment
        $.ajax({
            url: BaseUrl + "Api/Jyotish/UpgradePackages",
            type: "POST",
              headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token2")}`
            },
            contentType: "application/json",
            data: JSON.stringify({ // Stringify the data to send as JSON
                JyotishId: JId, // Example JyotishId
                SubscriptionId: planId // Example amount
            }),
            success: function (response) {
                 
                if (response.status === 200) {
                     Swal.fire({
                                title: "success",
                                text: response.message,
                                icon: "success",
                                didClose:()=>{
                         location.reload()
                                }

                            });
                } else {
                    Swal.fire({ icon: "error", title: "Error", text: response.message });
                }
            },
            error: function () {
                 
                Swal.fire({ icon: "error", title: "Server Error", text: "Server down, please try later." });
            }
        });
            }
        })
    });

     
  
</script>

<script>
    

</script>