@{
    Layout = "JyotishLayout";
  
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

<style>
    .card-body {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
</style>

<div class="container-fluid mt-4">
    <div class="card">
        <div class="d-flex flex-row justify-content-between align-items-center pt-2 px-4">
            <h6 class="text-primary">Appointments</h6>
            <div id="buttonContainer1">
                <button class="btn btn-sm btn-primary">upcomming Appointment</button>
                <button class="btn  btn-sm btn-primary">Today Appointment</button>
                <button class="btn  btn-sm btn-success">Arrived Client</button>
            </div>
        </div>
        <hr />
        <div class="text-center">  <input type="search" name="serachbox" id="searchBox" class="p-2 w-50" placeholder="Search client by name or number" /></div>

        <div class="card-body">
            <div class="table-responsive">
                <table id="DataTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Mobile Number</th>                    
                            <th>TimeFrom</th>
                            <th>TimeTo</th>
                            <th>Problem</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Table content will be inserted here dynamically -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Appointment Detail
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="requestForm">
                   
                        <input type="hidden" class="form-control" id="Id" readonly>
                    
                        <input type="hidden" class="form-control" id="SlotId" readonly>


                    <div class="form-group">
                        <label for="Name">Name:</label>
                        <input type="text" class="form-control" id="Name" readonly>
                    </div>


                    <div class="form-group mt-3">
                        <label for="Problem">Problem:</label>
                        <textarea type="text" readonly class="form-control mb-3" id="Problem"></textarea>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



<!--Add Member Modal -->
<div class="modal fade" id="addmembermodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Another Member</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form id="memberForm">
                            <input type="hidden" name="appointmentId" id="appointmentId" />
                        <div class="row">
                            <div class="col-sm-6">
                                Name:
                                <input required type="text" name="name" class="form-control" placeholder="Enter Member Name" />
                                
                            </div>
                            <div class="col-sm-6">
                                Gender:
                                <select required class="form-select" name="gender">
                                    <option value="" disabled selected>--Select Gender--</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-sm-6">
                                Date of Birth:
                                <input required type="date" name="dob" class="form-control" />

                            </div>
                            <div class="col-sm-6">
                                Relationship:
                                <input required type="text" name="relation" class="form-control" placeholder="Enter relation with member" />

                            </div>
                        </div>
                        <input type="submit" value="Add" class="btn btn-primary float-end" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!--show member Modal -->
<div class="modal fade" id="showmembermodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Members List</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Date of Birth</th>
                            <th>Gender</th>
                            <th>Relation</th>
                        </tr>
                    </thead>
                    <tbody id="memberbody">
                        <!-- Table content will be inserted here dynamically -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
               

            </div>
        </div>
    </div>
</div>


<!-- Modal for add solution -->
<div class="modal fade" id="dynamicModal" tabindex="-1" aria-labelledby="dynamicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dynamicModalLabel">Add Problem Solution</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="modalForm">
                <div class="modal-body">
                    <!-- Search Box and Results List -->
                    <div class="mb-3">
                       <select class="form-select" id="selectmember">
                           <option disabled>--select member--</option>
                       </select>
                    </div>

                    <!-- Problem Section with Add More Feature -->
                    <div id="problemSection" class="mb-3" style="max-height: 300px; overflow-y: auto;">
                        <!-- Added scrolling -->
                        <div class="d-flex mb-1 justify-content-between">
                        <label class="form-label">Problem</label>
                            <button type="button" class="btn btn-outline-success add-more-problem"><i class="fas fa-plus"></i></button>
                        </div>
                        <div class="input-group mb-2">
                            <textarea class="form-control" rows="2" name="problem[]" placeholder="Enter problem"></textarea>
                        </div>
                    </div>

                    <!-- Solution Section with Add More Feature -->
                    <div id="solutionSection" class="mb-3" style="max-height: 300px; overflow-y: auto;">
                        <!-- Added scrolling -->
                        <div class="d-flex mb-1 justify-content-between">

                        <label class="form-label">Solution</label>
                            <button type="button" class="btn btn-outline-success add-more-solution"><i class="fas fa-plus"></i></button>

                        </div>
                            <textarea class="w-100 summernote " rows="2" name="solution[]" placeholder="Enter solution"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="submitForm" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
        // Fetch and display all appointments on page load
    let appointmentslots=[]
        function fetchData() {
            Swal.fire({
                title: "Processing Your Request",
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            })
            var Id = localStorage.getItem('Id');
            $.ajax({
            url: BaseUrl + `Api/Jyotish/GetAllUpcommingAppointment`,
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token2")}`,
            },
            data: { jyotishId: localStorage.getItem("Id") },
                success: function (result) {
                    console.log(result)
                appointmentslots = result.data;
                Swal.close()
                },
                error: function (errormessage) {
                    console.error('Error fetching data:', errormessage.responseText);
                }
            }).then(()=>{
            showAppointmentSlots(appointmentslots);
            })
        }

    function showAppointmentSlots(appointment) {
        // console.log(appointmentslots, "arr")
        // const today = new Date();
        // const todayString = today.toISOString().split('T')[0];
        // let upcommingAppointment = appointmentslots;
        // let todayAppointment = appointmentslots.filter((d) => d.date.split("T")[0] == todayString)
        // let approved = appointmentslots.filter((d) => d.arriveStatus == 1);

        // console.log(todayString, "date")
        //     console.log(upcommingAppointment,"upcomming")
        // console.log(todayAppointment, "today")
        // console.log(approved, "apprvoed")


        //------------------------------------------------------------------------------------------------------------------------------------------------
        if (appointment.length > 0) {
            let htmls = '';
            $.each(appointment, function (key, item) {
                htmls += '<tr>';
                htmls += `<td class="text-center">${key + 1}</td>`;
                htmls += `<td class="text-center">${item.userName}</td>`;
                htmls += `<td class="text-center">${item.appoinDate}</td>`;
                htmls += `<td class="text-center">${item.userMobile}</td>`;
                htmls += `<td class="text-center">${item.appoinTimeFrom}</td>`;
                htmls += `<td class="text-center">${item.appoinTimeTo}</td>`;
                htmls += `<td class="text-center">${item.problem.slice(0, 10)}...</td>`;
                htmls += `<td class="text-center">${item.amount || 'N/A'}</td>`;
                htmls += `<td class="text-center">
                                                           <svg role='button' onclick='setMembers(${item.id})'  data-id="${item.id}" class="edit-appointment" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24" data-toggle="modal" data-target="#dynamicModal">
                                                    <path fill="currentColor" d="M13.654 21v-2.21l5.96-5.934l2.19 2.204l-5.94 5.94zm6.885-5.94l-.926-.945zm-6 5.056h.95l3.467-3.474l-.45-.494l-.475-.47l-3.493 3.488zM5 21V3h9.5L19 7.5v2.596h-1V8h-4V4H6v16h5.27v1zm13.506-4.852l-.475-.47l.925.964z"/>
                                                </svg>

                                                <i class="fas ${item.arriveStatus == 0 || item.arriveStatus == null ? "fa-user-slash text-secondary" : "fa-user-check text-success"
                    } arrivedClientBtn" ${item.arriveStatus == 0 || item.arriveStatus == null ? `onClick = 'updateArrivedClient(${item.id})' title="click here if user arrived" role='button'` : ""
                    } ></i >
                                        <i class="fas fa-user-plus text-warning Addmember" onClick='openAddMemberModal(${item.id})'  role='button' ></i>
                                                 <i class="fas fa-eye text-info Addmember" onClick='getClientMember(${item.id})'  role='button' role='show member'></i>
                                              </td>`;
                htmls += '</tr>';
            });
            $('#DataTable tbody').html(htmls);
            $('#DataTable').DataTable();
        }else{
            $('#DataTable tbody').html("<p class='text-center'>no record found</p>");
        }
    }
    function updateArrivedClient(id) {

        Swal.fire({
            title: 'Are you sure?',
            text: 'Client Are Arrived?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No, cancel',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                let appointmentId = id
                Swal.fire({
                    title: "Processing Your Request",
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading();
                    }
                })
                var Id = localStorage.getItem('Id');
                $.ajax({
                    url: BaseUrl+`api/Jyotish/updateArrivedClient`,
                    type: 'GET',
                    data: { appointmentId: appointmentId, jyotishId: Id },
                    headers: {
                        'Authorization': `Bearer ${localStorage.getItem("Token2")}`,
                        'Content-Type': 'application/json'
                    },
                    success: function (result) {
                        if (result.status == 200) {
                            Swal.fire({
                                title: "Success",
                                text: result.message,
                                icon: "success",
                                didClose:()=>{
                                    fetchData()
                                }
                            });
                        } else {
                            Swal.fire({
                                title: "error",
                                text: result.message,
                                icon: "error",

                            });
                        }
                    }, error: function () {
                        Swal.fire({
                            title: "error",
                            text: "some error occured",
                            icon: "error",

                        });
                    }
                })
            }
        })
    }

    function setMembers(appointmentId) {
        $("#selectmember").empty()
        Swal.fire({
            title: "Processing Your Request",
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        })
        var Id = localStorage.getItem('Id');

        $.ajax({
            url: BaseUrl + `api/Jyotish/GetClientMembers`,
            type: 'GET',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token2")}`
            },
            data: { appointmentId: appointmentId, jyotishId: Id },
            success: function (result) {
                if (result.status == 200) {
                        $("#selectmember").append(`
                                         <option value='${result.data.appId}'>${result.data.userName} </option>
                                    `)
                    if (result.data.memberList.length > 0) {
                        result.data.memberList.forEach(function (item, i) {
                           
                                $("#selectmember").append(`
                                 <option value='${item.id}'>${item.name} - ${item.relation}</option>
                                `)
                           
                        })
                    }
                }
                Swal.close()
            }, error: function () {
                Swal.fire({
                    title: "error",
                    text: "some error occured",
                    icon: "error",

                });
            }
        })
    }

    $(document).ready(function () {
        

        // Fetch and populate modal form with appointment data
        $(document).on('click', '.edit-appointment', function () {
            const appointmentId = $(this).attr('data-id');
            $.ajax({
                url: BaseUrl + `api/Jyotish/GetAppointment?Id=${appointmentId}`,
                type: 'GET',
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem("Token2")}`,
                    'Content-Type': 'application/json'
                },
                success: function (result) {
                     
                    const appointment = result.data;

                    // Populate modal fields with fetched data
                    $('#Id').val(appointment.id);
                    $('#SlotId').val(appointment.id);

                    $('#Name').val(appointment.userName);

                    $('#Problem').val(appointment.problem);
                },
                error: function (errormessage) {
                    console.error('Error loading appointment details:', errormessage.responseText);
                }
            });
        });

        $('#updateButton').on('click', async function () {
            const formData = {
                id: parseInt($('#Id').val(), 10),

                email: $('#Email').val(),

                jyotishId: localStorage.getItem('Id'),
                slotId: parseInt($('#SlotId').val(), 10),

                problem: $('#Problem').val(),

            };

            console.log('Form Data:', formData); // Check the form data

            try {
                const response = await fetch(BaseUrl + 'api/Jyotish/UpdateAppointment', {
                    method: 'POST', // Change this to 'PUT' if your API expects a PUT request for updates
                    headers: {
                        'Authorization': `Bearer ${localStorage.getItem("Token2")}`,
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData) // Stringify the formData object
                });

                if (response.ok) {
                    alert('Appointment updated successfully!');
                    $('#updateModal').modal('hide');
                    location.reload();// Refresh the table data after update
                } else {
                    const error = await response.json();
                    alert('Error updating appointment: ' + error.message);
                }
            } catch (error) {
                console.error('Error updating appointment:', error);
            }
        });

        fetchData(); // Initial data fetch
    });

    function openAddMemberModal(id){
        $("#appointmentId").val(id)
        $("#addmembermodal").modal("show")
    }

    $(".Addmember").click(function () {
        
    })

    $('.add-more-problem').click(function () {
        $('#problemSection').append(`
                        <div class="w-100 my-2">
                        <div class='d-flex justify-content-end mb-1 w-100'>
                                    <button type="button" class="btn btn-outline-danger remove-problem"><i class="fas fa-trash-alt"></i></button>
                            </div>
                                <textarea class="form-control" rows="2" name="problem[]" placeholder="Enter problem"></textarea>
                        </div>
                    `);
    });

    $('.add-more-solution').click(function () {
        $('#solutionSection').append(`
                        <div class="w-100 my-2">
                        <div class='d-flex justify-content-end mb-1 w-100'>
                                    <button type="button" class="btn btn-outline-danger remove-solution"><i class="fas fa-trash-alt"></i></button>

                        </div>
                                <textarea  class="form-control summernote" rows="2" name="solution[]" placeholder="Enter solution"></textarea>
                        </div>
                    `);
        $('.summernote').summernote();

    });

    $(document).on('click', '.remove-problem', function () {
        $(this).parent().parent().remove();
    });

    $(document).on('click', '.remove-solution', function () {
        $(this).parent().parent().remove();

    });

    $("#memberForm").submit(function(e){
        e.preventDefault()
        Swal.fire({
            title: 'Are you sure?',
            text: 'Do you really want to add?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No, cancel',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {

                let memberObject = {}
        let arrayData = $(this).serializeArray();
        arrayData.forEach(function(d){
                    memberObject[d.name]= d.value;
        })
      debugger
                
                Swal.fire({
                    title: "Processing Your Request",
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading();
                    }
                })
                var Id = localStorage.getItem('Id');
                $.ajax({
                    url: BaseUrl + `api/Jyotish/AddClientMembers`,
                    type: 'POST',
                    headers: {
                        'Authorization': `Bearer ${localStorage.getItem("Token2")}`
                    },
                  
                    contentType: "application/json",
                    data: JSON.stringify(memberObject),
                    success: function (result) {
                        if (result.status == 200) {
                            Swal.fire({
                                title: "Success",
                                text: result.message,
                                icon: "success",
                                didClose: () => {
                                    $("#addmembermodal").modal("hide")
                                    document.getElementById("memberForm").reset()
                                }
                            });
                        } else {
                            Swal.fire({
                                title: "error",
                                text: result.message,
                                icon: "error",

                            });
                        }
                    },error:function(){
                        Swal.fire({
                            title: "error",
                            text: "some error occured",
                            icon: "error",

                        });
                        }
                    })
                }
            })
    })

    function getClientMember(appointmentId){
        $("#memberbody").empty()
        Swal.fire({
            title: "Processing Your Request",
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        })
        $("#showmembermodal").modal("show")
        var Id = localStorage.getItem('Id');

        $.ajax({
            url: BaseUrl + `api/Jyotish/GetClientMembers`,
            type: 'GET',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token2")}`
            },
            data: { appointmentId: appointmentId, jyotishId: Id },
            success: function (result) {
                console.log(result)
                // if (result.status == 200) {
                //     if(result.data.memberList.length>0){
                //         result.data.memberList.forEach(function (d, i) {
                //             $("#memberbody").append(`
                //             <tr class='text-center'>
                //             <td>${i+1}</td>
                //             <td>${d.name}</td>
                //             <td>${d.dob}</td>
                //             <td>${d.gender}</td>
                //             <td>${d.relation}</td>
                //             </tr>
                //             `)
                //         })
                //     }else{
                //         $("#memberbody").append(`
                //               <tr>
                //                 <td></td>
                //                 <td></td>
                //                 <td>No record found</td>
                //                 <td></td>
                //                 <td></td>
                //                 </tr>
                //         `)
                //     }
                // }
                Swal.close()
            },error:function(){
                Swal.fire({
                    title: "error",
                    text: "some error occured",
                    icon: "error",

                });
            }
        })
    }
</script>
<script>
    $('#searchBox').on('input', function () {
        const searchTerm = $(this).val().toLowerCase();
        if (searchTerm != "") {
            if (searchTerm.length >= 1) {
                debugger
                const filteredResults = appointmentslots.filter(item => item.userName.toLowerCase().includes(searchTerm) | item.userMobile.includes(searchTerm) | item.userEmail.includes(searchTerm))
                showAppointmentSlots(filteredResults);
            } else {
                $('#resultsList').empty();  // Clear list if search term is empty
            }
        }else{
            showAppointmentSlots(appointmentslots);

        } 
    });

   
</script>