@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "JyotishLayout";
}

<style>
    /* Josh Channin 
*/

@@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:300,400');

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100%;
  padding: 40px 0px 40px 0px;
}

.wallet {
  margin-left: auto;
  border-radius: 5px;
  background-color: #FFFFFF;

}

.left-wallet {
  background-color: #f2f2f2;
  border-radius: 5px;
}

.right-trans {
  background-color: #FFFFFF;
  height: initial;
  border-radius: 5px;
}
.phistory{
    height:70px !important;
}

    .right-trans::-webkit-scrollbar {
        height:5px;
        width:5px;
    }
    .right-trans::-webkit-scrollbar-thumb {
       background:#c95812;
       border-radius:10px;
    }

    .detail-container{
        max-height:85vh;
    }
</style>

<div class="container mt-0 pt-1">
    <div class="wallet shadow row ">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4 left-wallet">
        <aside class=" p-2">
            <div class="wallet-head">
                <h2 class="text-secondary"> My Wallets </h2>
                
            </div>
            <div class="cc-select mt-3">
               @*  <div role="button"  class="border rounded paymenthstBtn p-3 mb-2 mt-5">Payment History</div> *@
                <div role="button" class="border rounded wallethstBtn p-3 mb-2">Wallet History</div>
            </div>
        </aside>
                </div>
                <div class="col-sm-8 detail-container pt-0 overflow-auto">
        <content class="right-trans ">
           <div class="d-flex position-sticky top-0 bg-light p-2 rounded align-items-center justify-content-between"> 
               <h2 class="text-secondary"> Current Balance </h2>
                <h3><span class="text-success" id="walletAmount">0</span>&nbsp;&nbsp;<span id="addWallet" data-bs-toggle="modal" data-bs-target="#exampleModal" class="text-secondary" role="button"><i class="far fa-plus-square"></i></span></h3>
            </div>
            <h4 id="balance"></h4>
            <div class="trans-list px-3 row">
               
            </div>
        </content>
        </div>
        </div>
        </div>
    </div>
</div>

<!-- Modal for add payment -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header w-100">
                <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Add Wallet</h1>
            </div>
            <div class="modal-body text-center">
                <small class="text-secondary">Please enter a amount to add into your wallet</small>
               <input type="number" class="form-control my-3" name="amount" placeholder="Enter amount to add wallet" id="amount"/>
                <span class="text-danger d-none" id="amountvalidalert">min amount required ₹200</span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="addAmountIntoWallet" class="btn btn-success" data-bs-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for print receipt-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Payment Receipt</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body receipt-body">
            <div class="row">
               
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="printbtn">Print</button>
            </div>
        </div>
    </div>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>

    var Id = localStorage.getItem('Id');

        $(document).ready(function () {
            $.ajax({
                url: BaseUrl+"api/Jyotish/GetWallet",
                type: "get",
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem("Token2")}`,
                    'Content-Type': 'application/json',
                },
                data:{JyotishId:Id},
                success:function(res){
                    if(res.status==200){
                    $("#walletAmount").text(res.data)
                    }else{
                    Swal.fire({
                        title: "error",
                        text: "some error occured",
                        icon: "error"
                    });
                    }
                },error:function(){
                Swal.fire({
                    title: "error",
                    text: "some error occured",
                    icon: "error"
                });
                }
            })

     


    });

    $("#amount").on("keyup", function () {
        if ($(this).val() < 200) {
            $("#amountvalidalert").removeClass("d-none");
        } else {
            $("#amountvalidalert").addClass("d-none");

        }
    })

    $("#addAmountIntoWallet").click(function(){
        let amount = $("#amount").val();
        if (amount < 200) {
            $("#amountvalidalert").removeClass("d-none");
            return
        } else {
            $("#amountvalidalert").addClass("d-none");

        }
        Swal.fire({
            title: "Processing Your Request",
            didOpen: () => {
                Swal.showLoading();
            }
        })
        $.ajax({
            url:BaseUrl+"Api/Payments/create-order",
            type: "POST",
            contentType: "application/json", 
            data: JSON.stringify({ 
                JyotishId: Id, 
                Amount: amount
               
            }),
            success: function (response) { 
                Swal.close();
                if (response.status === 200 && response.data) {
                    var data = response.data; // Get the actual data object
                    var options = {
                        key: data.secretKey,  // Use the correct secret key from data
                        amount: data.amount,   // Amount in paise
                        currency: data.currency,
                        name: 'My Jyotish G',
                        description: 'Payment Transaction',
                        image: "https://api.myjyotishg.in/Images/Logo.png",
                        order_id: data.id,     // Order ID
                        handler: function (paymentResponse) {
                            //console.log(paymentResponse.razorpay_payment_id, paymentResponse.razorpay_signature, paymentResponse.razorpay_order_id,data.amount);
                               InsertPayment(paymentResponse.razorpay_payment_id, paymentResponse.razorpay_signature, paymentResponse.razorpay_order_id, amount, "success","Payment Successfull")
                               
                        },
                        modal: {
                            ondismiss: function () {
                                Swal.fire({
                                    icon: "warning",
                                    title:"Cancelled",
                                    text: "Payment Cancelled",

                                });
                            }
                        },
                        prefill: {
                            name: data.advocateList?.advocateName || 'John Doe',  // Fallback if name not available
                            email: data.advocateList?.email || 'user@example.com',
                            contact: data.advocateList?.contactNum || '9999999999'
                        },
                        theme: { color: '#F37254' }
                    };

                    var rzp1 = new Razorpay(options);
                    rzp1.on('payment.failed',  function(response) {
                         InsertPayment(response.error.metadata.payment_id, "", response.error.metadata.order_id, amount, "failed", response.error.reason);

                        Swal.fire({
                            icon: "error",
                            title: "Payment Failed",
                            text: response.error.description || "Unknown error occurred.",
                            didClose: () => { location.reload(true); }
                        });


                    });
                    rzp1.open();
                } else {
                    Swal.fire({ icon: "error", title: "Error", text: "Payment initiation failed. Please try again." });
                }
            },
            error: function () {

                Swal.fire({ icon: "error", title: "Server Error", text: "Server down, please try later." });
            }
        });

    });

    function InsertPayment(pay_id, signature, order_id, amount,status,message) {
        debugger
        Swal.fire({
            title: "Processing Your Request",
            didOpen: () => {
                Swal.showLoading();
            }
        })
        let Id = localStorage.getItem("Id")

        $.ajax({
            url:BaseUrl+"Api/payments/capture-payment",
            type: "POST",
            contentType: "application/json",
            data:JSON.stringify({
                jyotishId:Id,
                orderId: order_id,
                paymentId: pay_id,
                SignatureId: signature,
                amount: amount,
                Status: status,
                Message:message

            }),
            success: function (res) {
                 
                if (res.status == 200) {
                    Swal.fire({
                        title: "Success!",
                        text: "Payment Successfull",
                        icon: "success",
                        didClose: () => { location.reload(true); }
                    });
                } else {
                    Swal.fire({ title: "Payment Failed!", text: "Technical issue occurred. Try again later.", icon: "error" });
                }
            },
            error: function () {

                Swal.fire({ icon: "error", title: "Technical Issue", text: "Payment verification failed." });
            }
        });
    }
    
    
        function getWalletHistory(){
        $.ajax({
            url:BaseUrl+"Api/Jyotish/GetWalletHistroy",
            type: "get",
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token2")}`,
                'Content-Type': 'application/json'
            },
            data: {
                JyotishId: Id,
            },
            success: function (res) {
                if (res.status == 200) {
                    res.data.forEach(function (d) {
                        if (d.userName != null & d.profile != null) {
                            let historycard = $(
                                `
                              <div class="col-sm-12 border rounded p-2 my-2 phistory" data-receipt='${JSON.stringify(d).replace(/'/g, "\\'")}' id="receipt_${d.id}" onClick='printReceipt(${d.id},"wallet")'>
                                        <div class="row h-100">
                                            <div class="col-sm-2 text-center ">
                                                <img class="w-75 h-75 rounded-circle" src="${BaseUrl}${d.profile}" />
                                            </div>
                                            <div class="col-sm-6">
                                                ${d.userName}<br />
                                                                                                    ${d.paymentStatus.toLowerCase() == 'success' ? d.paymentDate.split(" ")[0] : d.paymentStatus.toLowerCase() == 'pending' ? `<small><i class="fas text-warning fa-exclamation-triangle"></i>Cancelled</small>` : `<small class='text-danger'><i class="fas fa-exclamation-circle"></i>Failed</small>`}
                                            </div>
                                            <div class="col-sm-3 d-flex h-100 justify-content-end align-items-center">
                                                                                                     ${d.paymentStatus.toLowerCase() == 'success' & d.paymentAction.toLowerCase() == "credit" ? `<span class='text-success'>+ ${d.amount}</span>` : d.paymentStatus.toLowerCase() == 'success' & d.paymentAction.toLowerCase() == "debit" & d.paymentBy.toLowerCase() == "user" ? `<span class='text-success'>+${d.amount}</span>` : `<span class='text-danger'>-${d.amount}</span>`}
                                            </div>
                                        </div>
                                    </div>
                    `)
                            $(".trans-list").append(historycard)
                        } else {
                            let historycard = $(`
                                                 <div class="col-sm-12 border rounded p-2 my-2 phistory"  data-receipt='${JSON.stringify(d).replace(/'/g, "\\'")}' id="receipt_${d.id}" onClick='printReceipt(${d.id},"wallet")'>
                                    <div class="row h-100">
                                        <div class="col-sm-2 text-center ">
                                                <img class="w-75 h-100 rounded-circle" src="https://api.myjyotishg.in/Images/Logo.png" />
                                        </div>
                                        <div class="col-sm-6">
                                            MyJyotishg<br />
                                                                                        ${d.paymentStatus.toLowerCase() == 'success' ? d.paymentDate.split(" ")[0] : d.status == 'Pending' ? `<small><i class="fas text-warning fa-exclamation-triangle"></i>Cancelled</small>` : `<small class='text-danger'><i class="fas fa-exclamation-circle"></i>Failed</small>`}
                                        </div>
                                        <div class="col-sm-3 d-flex  justify-content-end align-items-center">
                                                                                     ${d.paymentStatus.toLowerCase() == 'success' & d.paymentAction.toLowerCase() == "credit" ? `<span class='text-success'>+ ${d.amount}</span>` : `<span class='text-danger'>-${d.amount}</span>`}
                                        </div>
                                    </div>
                                </div>
                `)
                            $(".trans-list").append(
                                historycard
                            )
                        }
                    })

                }
                },
                error: function (err) {
                    Swal.fire({ icon: "error", title: "Server Error", text: "Server down, please try later." });

                }
            });
        }

        getWalletHistory();
        function printReceipt(id,type) {
            let d = $("#receipt_" + id).attr("data-receipt")
            let data=JSON.parse(d)
            console.log(data)
            $("#exampleModal2").modal("show");
        
                $(".receipt-body").html(
                    `
        <div class="col-sm-12 d-flex justify-content-center flex-column align-items-center" >
                                    <img src="${data.profile == null ? 'https://api.myjyotishg.in/Images/Logo.png' : BaseUrl + data.profile}" class='rounded-circle' height="100" width="100" />
                                <p class="text-center">From ${data.userName==null?"MyJyotishg":data.userName}</p>
                                <h2>₹${data.amount}</h2>
                                <p class="text-center"><i class="fas fa-check-circle text-success"></i>Completed</p>
                                <hr class="w-50"/>
                                <p class="text-center">${data.paymentDate}</p>
                                    <div class="border rounded w-100 p-3 row">
                                            
                                               <div class='col-sm-3'> PaymentId </div>:<div class='col-sm-8'>${data.paymentId}</div>
                                                        <div class='col-sm-3'>Message </div>:<div class='col-sm-8'>${data.paymentFor}</div>
                                                        ${data.userName!=null?`<div class='col-sm-3'>From </div>:<div class='col-sm-8'>${data.userName}</div>`:""}
                                </div>
                        </div >
        `
                )
        $("#printbtn").attr("data-id",id)
        }
        
        $("#printbtn").click(function(){
       
        let printWindow = window.open('', '_blank', 'width=600,height=400');

        // Prepare the HTML content for printing
        let printContent = `<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap-grid.min.css" integrity="sha512-JQksK36WdRekVrvdxNyV3B0Q1huqbTkIQNbz1dlcFVgNynEMRl0F8OSqOGdVppLUDIvsOejhr/W5L3G/b3J+8w==" crossorigin="anonymous" referrerpolicy="no-referrer" />` + $(".receipt-body").html()
        

        // Write the HTML content to the new window
        printWindow.document.write(printContent);
        printWindow.document.close();

        // Wait for the content to load and then print
        printWindow.onload = function () {
            printWindow.print();
           
        setTimeout(function () {
            printWindow.close(); // Close the window after a short delay
        }, 20000);
        })
        };
</script>

    