@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "JyotishLayout";
}

<style>
    /* Josh Channin 
*/

@@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:300,400');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(255, 204, 102);
}

.container {
  width: 100%;
  padding: 40px 0px 40px 0px;
}

.wallet {
  margin: 0 auto;
  border-radius: 5px;
  background-color: #FFFFFF;
  height: 680px;
  max-width: 900px;
  min-width: 800px;
  display: flex;
}

.left-wallet {
  background-color: #f2f2f2;
  width: 300px;
  height: initial;
  padding: 40px;
  border-radius: 5px;
}

.right-trans {
  background-color: #FFFFFF;
  width: 600px;
  height: initial;
  padding: 40px;
  border-radius: 5px;
}
.phistory{
    height:70px !important;
}

</style>

<div class="container">
    <div class="wallet shadow-sm">
        <aside class="left-wallet">
            <div class="wallet-head">
                <h2 class="text-secondary"> My Wallets </h2>
                
            </div>
            <div class="cc-select">
            </div>
        </aside>
        <content class="right-trans overflow-auto">
           <div class="d-flex justify-content-between"> 
               <h2 class="text-secondary"> Current Balance </h2>
                <h3><span class="text-success">2000</span>&nbsp;<span id="addWallet" data-bs-toggle="modal" data-bs-target="#exampleModal" class="text-secondary" role="button"><i class="far fa-plus-square"></i></span></h3>
            </div>
            <h4 id="balance"></h4>
            <div class="trans-list  row">
               
            </div>
        </content>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header w-100">
                <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Add Wallet</h1>
            </div>
            <div class="modal-body text-center">
                <small class="text-secondary">Please enter a amount to add into your wallet</small>
               <input type="number" class="form-control my-3" name="amount" placeholder="Enter amount to add wallet" id="amount"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="addAmountIntoWallet" class="btn btn-success" data-bs-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>

    <script>

    var Id = localStorage.getItem('Id');
    $.ajax({
        url: `https://localhost:7118/api/Jyotish/JyotishPaymentrecords`,
        type: 'GET',
        headers: {
            'Authorization': `Bearer ${localStorage.getItem("Token2")}`,
            'Content-Type': 'application/json',
        },
        data:{Id:Id},
        success:function(res){
           if(res.status==200){
               var data = res.data;
               data.forEach(function(d){
$(".trans-list").append(
    `
         <div class="col-sm-12 border rounded p-2 my-2 phistory">
                        <div class="row h-100">
                            <div class="col-sm-2 text-center ">
                                <img class="w-75 h-100 rounded-circle" src="https://api.myjyotishg.in/Images/Logo.png" />
                            </div>
                            <div class="col-sm-6">
                                Jyotishg<br />
                                                        ${d.status == 'success' ? d.dateTime.split("T")[0] : `<span class='text-danger'><i class="fas fa-exclamation-circle"></i>Failed</span>`}
                            </div>
                            <div class="col-sm-3 d-flex text-danger justify-content-end align-items-center">
                                                     ${d.status == 'success' ? `- ${d.amount}` : `${d.amount}`}
                            </div>
                        </div>
                    </div>
    `
)
               })
           }
        },
        error:function(){

        }
    })

        $("#addAmountIntoWallet").click(function(){
                let amount=$("#amount").val();
                     Swal.fire({
                        title: "Processing Your Request",
                        didOpen: () => {
                            Swal.showLoading();
                        }
                    })
            $.ajax({
                url:"https://localhost:7118/api/Jyotish/AddWallet",
                type:"post",
                    data:{jyotishId:Id,WalletAmount:amount},
                success:function(res){
                            if (res.status == 200) {

                        Swal.fire({
                                    title: "Success",
                                    text: "Amount Added to your wallet Successfully",
                                    icon: "success",
                                    didClose: () => {
                                        location.reload(true)
                                    }

                                });
                            }else{
                                     Swal.fire({
                                        title: "error",
                                        text: "some error occured while updating your profile",
                                        icon: "error"
                                    });
                            }
                },
                error:function(err){
                         Swal.fire({
                                    title: "error",
                                    text: "some error occured",
                                    icon: "error"
                                });
                }
            })
        })
    </script>