@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "AdminLayout";
    
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


@* 
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
       
        <form id="PoojaForm" class="pooja-form">
            <div class="form-group">
                <label for="pooja">Pooja Category:</label>
                <textarea id="pooja" name="pooja" rows="6" placeholder="Enter Pooja Category here..."></textarea>
            </div>
            <div class=" justify-content-center">
                <button type="submit">Save Changes</button>
            </div>
          
        </form>
    </div>
</div>  *@

<style>
       body {
        margin: 0;
        font-family: "Heebo", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #757575;
        background-color: #F3F6F9;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .main-container {
        overflow: hidden;
        padding: 15px;
        border-radius: 0px 10px 10px 0px;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    }

    .left-part img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        border-radius: 10px 0px 0px 10px;
    }

    .right-part form input, .right-part form button {
        font-size: 13px;
    }

    .right-part button {
        background-color: #138496;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .right-part button:hover {
            background-color: #138496;
            color: white;
        }

    .text-center{
        color: #007BFF;
        font-weight:bold;
        font-size:25px;
    }

    .btnPooja {
      background-color:#28a745 !important;

    }
</style>

<div class="container d-flex justify-content-center align-items-center min-vh-90 mt-4">
    <div class="main-container row w-100 rounded-3">

        <div class="col-lg-12 col-md-12 p-2 bg-white right-part ">
            <h5 class="mb-3 text-center" >Add Pooja Category</h5>
            <form id="loginForm">
                <div class="form-row">
                    <div class="form-group col-md-12 d-flex mb-3 align-items-center">
                        <label for="pooja" class="form-label mr-4 mb-3 ">Pooja Category:</label>
                        <textarea id="pooja" name="pooja" rows="5" class="form-control" placeholder="Enter Pooja Category here..." style="resize:none;"></textarea>
                    </div>
                </div>   
                <div class="form-row">
                    <div class="form-group col-md-12 mt-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary px-3 btnPooja ">Submit</button>
                    </div>
                </div>



            </form>
        </div>
    </div>
</div>


<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#PoojaForm').submit(function (e) {
            e.preventDefault(); // Prevent the form from submitting normally

            var pooja = $('#pooja').val();


            $.ajax({
                url: "https://api.myjyotishg.in/api/Admin/AddPoojaCategory",
                type: 'POST',
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem("Token")}`, // Example of an authorization header
                    'Content-Type': 'application/json', // Example of a content type header

                },
                contentType: 'application/json', // Specify that the content type is JSON
                data: JSON.stringify({
                    name: pooja,

                }),
                success: function (response) {
                    if (response.status === 200) {


                        window.location.href = "/Admin/PoojaCategoryList";
                    } else {

                        alert("Pooja Not Added");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error:", xhr.responseText);
                }
            });
        });
    });


</script>