@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "AdminLayout";
}


<div class="container w-100 mt-5 border rounded p-3">
    <div class="row">
        <div class="col-sm-12">
            <form id="departmentPageForm">
                <h3 class="mt-1 mb-4">Page Access Validation</h3>
                <div class="row  justify-content-center">
                    <div class="col-sm-4">
                        Levels
                        <select required class="form-select mb-2" name="level" id="levelsDrop">
                            <option value="">--select levels--</option>

                        </select>
                    </div>
                    <div class="col-sm-4">
                        Departments
                        <select required class="form-select mb-2" name="department" id="departmentDrop">
                            <option value="">--select department--</option>

                        </select>
                    </div>
                    <div class="col-sm-4">
                        Discount
                        <input type="number" placeholder="Enter Discount Limit" class="form-control mb-2" name="Discount" id="Discount">

                    </div>

                    <div class="col-sm-12 ">
                        <div class="row flex-wrap " id="Pages"></div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <div class="text-center"><input type="submit" class="btn btn-primary" value="Add" /></div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#departmentPageForm").submit(function (e) {
        e.preventDefault()
        let formData = new FormData();
        let arrData = $(this).serializeArray();
        arrData.forEach(function (d) {
            formData.append(d.name, d.value)
        })
        Swal.fire({
            title: "Processing Your Request",
            didOpen: () => {
                Swal.showLoading();
            }
        })
        $.ajax({
            url: BaseUrl + "api/admin/AccessPagesValidation",
            type: "post",
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token")}`
            },
            processData: false,
            contentType: false,
            data: formData,
            success: function (res) {
                console.log(res)
                if (res.status == 200) {
                    Swal.fire({
                        title: "success",
                        text: res.message,
                        icon: "success",
                        didClose: () => {
                            location.reload()
                        }
                    })
                } else {
                    Swal.fire({
                        title: "error",
                        text: res.message,
                        icon: "error"

                    })
                }
            },
            error: function () {
                Swal.fire({
                    title: "error",
                    text: "some error occured",
                    icon: "error"

                })
            }

        })
    })

    function getDepartment() {
        $.ajax({
            url: BaseUrl + "api/admin/DepartmentList",
            type: "get",
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token")}`
            },
            success: function (res) {
                console.log(res, "dep")
                if (res.status == 200) {
                    res.data.forEach(function (d) {
                        $("#departmentDrop").append(
                            `
                                            <option value='${d.id}'>${d.departmentName}</option>

                                    `
                        )
                    })

                }
            }
        })
    }
    getDepartment();

    function getLevels() {
        Swal.fire({
            title: "Processing Your Request",
            didOpen: () => {
                Swal.showLoading();
            }
        })
        $.ajax({
            url: BaseUrl + "api/admin/levelsList",
            type: "get",
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token")}`
            },
            success: function (res) {
                console.log(res, "lev")
                if (res.status == 200) {
                    res.data.forEach(function (d, i) {
                        $("#levelsDrop").append(
                            `
                                                <option value='${d.id}'>${d.levelsName}</option>

                                        `
                        )
                    })
                }
                Swal.close();
            }
        })
    }
    getLevels();


    $(document).ready(function () {
        function fetchData() {
            $.ajax({
                url: BaseUrl + "api/Admin/getAllAccessPages",
                type: 'GET',
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem("Token")}`,
                    'Content-Type': 'application/json',
                },
                success: function (result) {
                    console.log(result); // Log the API response
                    $.each(result.data, function (key, item) {
                        $("#Pages").append(`
                                       <div class="mb-4 col-sm-4"><input name='pages' type="checkbox" value='${item.id}' /> &nbsp;${item.pagesName}</div>

                                        `)

                    });

                },
                error: function (errormessage) {
                    console.error('Error fetching data:', errormessage.responseText);
                }
            });
        }

        fetchData(); // Call the function to load data
    });
</script>