<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>


<!-- Button trigger modal -->


<div class="container-fluid mt-4">
    <div class="card">

        <div class="d-flex flex-row justify-content-between align-items-center pt-3 px-4">
            <h5 class="text-primary mt-2">Appointments</h5>
            <button type="button" class="btn btn-primary float-end " data-bs-toggle="modal" data-bs-target="#HomepageBannerModal">
                Add HomePage Banner
            </button>
        </div>
        <hr class="pt-0" />

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead><tr><th>Serial No.</th><th>Banner</th><th> Action</th></tr></thead>
                    <tbody id="HomePageTBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="HomepageBannerModal" tabindex="-1" aria-labelledby="HomepageBannerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="HomepageBannerModalLabel">HomePage Banner</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="HomepageBanner">HomePage Banner</label>
                <input type="file" class="form-control" id="HomepageBanner" />

                <label for="SerialNo">Serial Number</label>
                <input type="number" class="form-control" id="SerialNo" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="HomepageBannerSubmitBtn" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#HomepageBannerSubmitBtn').on('click', function () {
        var homePageBanner = $('#HomepageBanner')[0].files[0];
        var serialNo = $('#SerialNo').val();

        if (!homePageBanner) {
            Swal.fire({
                title: "Error",
                text: "Please upload a banner image.",
                icon: "error"
            });
            return;
        }


        var formData = new FormData();
        formData.append('HomePage', homePageBanner);
        formData.append('SerialNo', serialNo);

        $.ajax({
            url: BaseUrl + "Api/Admin/AddSlider",
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem('Token')}`
            },
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.status === 200) {
                    Swal.fire({
                        title: "Success!",
                        text: "Banner added successfully.",
                        icon: "success",
                    });

                    $('#HomepageBannerModal').modal('hide');
                } else {
                    Swal.fire({
                        title: "Error",
                        text: response.message || "Something went wrong.",
                        icon: "error",
                    });
                }
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    title: "Error",
                    text: "Something went wrong. Please try again later.",
                    icon: "error",
                });
            }
        });
    });

    function HomePageBannerTable() {
        Swal.fire({
            title: "Processing Your Request",
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });



        $.ajax({
            url: BaseUrl + "Api/Admin/SliderImageList",
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem('Token')}`
            },
            success: function (response) {
                if (response.status === 200) {
                    let htmls = '';  // Initialize htmls variable outside of the loop
                    var counter = 1;
                    $.each(response.data, function (key, item) {
                        htmls += '<tr>';
                        htmls += `<td class="text-center">${counter}</td>`;
                        htmls += `<td class="text-center"><img src="${BaseUrl}${item.homePage}" height="100" width="150"  /></td>`;
                        htmls += `<td class="text-center  gap-3">
                            <a href="${BaseUrl}${item.homePage}" class="btn" target="_blank"><i class="fas fa-eye"></i></a>
                                        <button data-id="${item.id}" class="DeleteBanner btn  "><i  class="fas fa-trash-alt text-danger"></i></button>
                            </td>`;
                        htmls += '</tr>';
                        counter++;
                    });


                    $('#HomePageTBody').html(htmls);
                    // $('#DataTable').DataTable({
                    //     "paging": true,
                    //     "searching": true,
                    //     "ordering": true,
                    //     "info": true
                    // });



                    Swal.close();
                }
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    title: "Error",
                    text: "Something went wrong. Please try again later.",
                    icon: "error",
                });
            }
        });
    }


    HomePageBannerTable()

    $(document).on('click', '.DeleteBanner', function () 
    {
        var Id = $(this).attr('data-id');
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, keep it',
            reverseButtons: true
        }).then((result) => {
            // If the user confirms the action
            if (result.isConfirmed) {
                $.ajax({
                    url: BaseUrl + `Api/Admin/DeleteHomePageBanner?Id=${Id}`,
                    method: 'DELETE',  // Ensure the HTTP method is uppercase
                    headers: {
                        'Authorization': `Bearer ${localStorage.getItem('Token')}`
                    },
                    success: function (response) {
                        if (response.status === 200) {
                            Swal.fire({
                                title: "Successful",  // Fixed typo here
                                text: "Banner Deleted Successfully",
                                icon: 'success'
                            })
                            location.reload();
                        } else {
                            Swal.fire({
                                title: 'Error',
                                text: 'Something went wrong',
                                icon: 'error'
                            })
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            title: 'Error',
                            text: 'Something went wrong',
                            icon: 'error'
                        })
                    }
                })
            } else {
                // If the user cancels, you could add any cancel-related action if needed
                console.log('Banner deletion canceled');
            }
        });
    });

</script>
