<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#HomepageBannerModal">
    Add HomePage Banner
</button>

<div class="container-fluid mt-4">
    <div class="card">

        <div class="d-flex flex-row justify-content-between align-items-center  px-4">
            <h5 class="text-primary mt-2">Appointments</h5>

        </div>
        <hr />

        <div class="card-body">
            <div class="table-responsive">
                <table id="DataTable" class="table table-bordered table-striped">
                    <thead><tr><th>Serial No.</th><th>Banner</th></tr></thead>
                    <tbody id="HomePageTBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="HomepageBannerModal" tabindex="-1" aria-labelledby="HomepageBannerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="HomepageBannerModalLabel">HomePage Banner</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="HomepageBanner">HomePage Banner</label>
                <input type="file" class="form-control" id="HomepageBanner" />

                <label for="SerialNo">Serial Number</label>
                <input type="number" class="form-control" id="SerialNo" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="HomepageBannerSubmitBtn" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#HomepageBannerSubmitBtn').on('click', function () {
        var homePageBanner = $('#HomepageBanner')[0].files[0]; 
        var serialNo = $('#SerialNo').val();

        if (!homePageBanner) {
            Swal.fire({
                title: "Error",
                text: "Please upload a banner image.",
                icon: "error"
            });
            return;
        }

       
        var formData = new FormData();
        formData.append('HomePage', homePageBanner); 
        formData.append('SerialNo', serialNo);

        $.ajax({
            url: BaseUrl + "Api/Admin/AddSlider", 
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem('Token')}`
            },
            data: formData,
            processData: false, 
            contentType: false, 
            success: function (response) {
                if (response.status === 200) {
                    Swal.fire({
                        title: "Success!",
                        text: "Banner added successfully.",
                        icon: "success",
                    });
                  
                    $('#HomepageBannerModal').modal('hide');
                } else {
                    Swal.fire({
                        title: "Error",
                        text: response.message || "Something went wrong.",
                        icon: "error",
                    });
                }
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    title: "Error",
                    text: "Something went wrong. Please try again later.",
                    icon: "error",
                });
            }
        });
    });

    function HomePageBannerTable() {
        Swal.fire({
            title: "Processing Your Request",
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });

        $('#DataTable').DataTable();

        $.ajax({
            url: BaseUrl + "Api/Admin/SliderImageList",
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem('Token')}`
            },
            success: function (response) {
                if (response.status === 200) {
                    let htmls = '';  // Initialize htmls variable outside of the loop
                    $.each(response.data, function (key, item) {
                        htmls += '<tr>';
                        htmls += `<td class="text-center">${item.serialNo}</td>`;
                        htmls += `<td class="text-center"><img src="${BaseUrl}${item.homePage}" height="100" width="150"  /></td>`;
                        htmls += '</tr>';
                    });

                    
                    $('#HomePageTBody').html(htmls);
                    // $('#DataTable').DataTable({
                    //     "paging": true,
                    //     "searching": true,
                    //     "ordering": true,
                    //     "info": true
                    // });
                   

                   
                    Swal.close();
                }
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    title: "Error",
                    text: "Something went wrong. Please try again later.",
                    icon: "error",
                });
            }
        });
    }


    HomePageBannerTable()
</script>
