@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form class="border rounded p-3 gap-2 mx-auto d-flex w-50" method="post" id="poojaForm">
	<input type="hidden" name="Id" id="poojaId" />
	<input type="text" class="form-control" name="name" id="name" placeholder="Enter Pooja Name" />
	<input type="submit" value="Add" id="addBtn" class="btn btn-primary btn-sm" />
</form>

<div class="container mt-3">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Sr</th>
				<th>Name</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody id="tablecontainer">
		</tbody>
	</table>
</div>

<script>
	$("#poojaForm").submit(function(e) {
		e.preventDefault();
		Swal.fire({
			title: "Processing Your Request",
			didOpen: () => {
				Swal.showLoading();
			}
		});
		if($("#addBtn").val()=="Add"){
		$.ajax({
			url: BaseUrl + 'Api/admin/AddPoojaList',
			type: 'POST',
			headers: {
				'Authorization': `Bearer ${localStorage.getItem("Token")}`,
				'Content-Type': 'application/json',
			},
			data: JSON.stringify({ name:$("#name").val()}),
			success: function (response) {
				if (response.status === 200) {
					Swal.fire({
						title: "Successful!",
						text: "Pooja Added successfully!",
						icon: "success",
						confirmButtonText: "OK",
					}).then(() => {
						location.reload();
					});
				}else{
					Swal.fire({
						title: "error",
						text: response.message,
						icon: "error",
						confirmButtonText: "OK",
					});
				}
			},Error:function(){
				Swal.fire({
					title: "Something went wrong.",
					text: "Please try again later.",
					icon: "error",
					confirmButtonText: "OK",
				});
			}
		})
		}else{
			$.ajax({
			url: BaseUrl + 'Api/admin/UpdatePoojaList',
			type: 'POST',
			headers: {
				'Authorization': `Bearer ${localStorage.getItem("Token")}`,
				'Content-Type': 'application/json',
			},
			data: JSON.stringify({ name:$("#name").val(),Id:$("#poojaId").val()}),
			success: function (response) {
				if (response.status === 200) {
					Swal.fire({
						title: "Successful!",
						text: "Pooja Updated successfully!",
						icon: "success",
						confirmButtonText: "OK",
					}).then(() => {
						location.reload();
					});
				}else{
					Swal.fire({
						title: "error",
						text: response.message,
						icon: "error",
						confirmButtonText: "OK",
					});
				}
			},Error:function(){
				Swal.fire({
					title: "Something went wrong.",
					text: "Please try again later.",
					icon: "error",
					confirmButtonText: "OK",
				});
			}
		})
		}
	})

		function getPoojaList() {
			Swal.fire({
				title: "Processing Your Request",
				didOpen: () => {
					Swal.showLoading();
				}
			})
			$.ajax({
					url: BaseUrl + "api/jyotish/GetPoojaList",
				type: "get",
				headers: {
					'Authorization': `Bearer ${localStorage.getItem("Token")}`
				},
				success: function (res) {
					console.log(res, "lev")
					if (res.status == 200) {
							$("#tablecontainer").empty()
						res.data.forEach(function (d,i) {
							$("#tablecontainer").append(
								`<tr>
									<td class='text-center'>${i + 1}</td>
									<td class='text-center' id='name_${d.id}'>${d.name}</td>
									<td class='text-center'>
										<i class="fas fa-edit fs-6 btn btn-warning text-light btn-sm" onClick='updatePooja(${d.id})'></i>
											<i class="fas fa-trash-alt fs-6 btn btn-danger btn-sm" onClick='deletePooja(${d.id})'></i>
									</td>
									</tr>
									`
							)
						})
					}
					Swal.close();
				}
			})
		}
			getPoojaList();

				function updatePooja(id){
					$("#name").val($("#name_"+id).text())
					$("#poojaId").val(id)
						$("#addBtn").val("update")
						location.href="#"
				}
</script>