@{
}

<style>
	.card-body > .row {
		min-height: 100px !important;
	}
</style>

<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
	<div>
		<h3 class="fw-bold mb-3">Dashboard</h3>
	</div>
	<div class="ms-md-auto py-2 py-md-0">
		<a href="/Admin/InterviewList" class="btn btn-label-info btn-round me-2">Upcomming InterViews</a>
		<a href="/Admin/SlotList" class="btn btn-primary btn-round">Slot List</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-3">
		<div class="card card-stats card-round">
			<div class="card-body">
				<div class="row align-items-center">
					<div class="col-icon">
						<div class="icon-big text-center icon-primary bubble-shadow-small">
							<i class="fas fa-users"></i>
						</div>
					</div>
					<div class="col col-stats ms-3 ms-sm-0">
						<div class="numbers">
							<p class="card-category">Total Jyotish</p>
							<h4 class="card-title totalJyotish">0</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-3">
		<div class="card card-stats card-round">
			<div class="card-body">
				<div class="row align-items-center">
					<div class="col-icon">
						<div class="icon-big text-center icon-info bubble-shadow-small">
							<i class="fas fa-user-clock"></i>
						</div>
					</div>
					<div class="col col-stats ms-3 ms-sm-0">
						<div class="numbers">
							<p class="card-category">Pending Jyotish</p>
							<h4 class="card-title pendingJyotish">0</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-3">
		<div class="card card-stats card-round">
			<div class="card-body">
				<div class="row align-items-center">
					<div class="col-icon">
						<div class="icon-big text-center icon-success bubble-shadow-small">
							<i class="fas fa-user-check"></i>
						</div>
					</div>
					<div class="col col-stats ms-3 ms-sm-0">
						<div class="numbers">
							<p class="card-category">Approved Jyotish</p>
							<h4 class="card-title approvedJyotish">0</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-3">
		<div class="card card-stats card-round">
			<div class="card-body">
				<div class="row align-items-center">
					<div class="col-icon">
						<div class="icon-big text-center icon-secondary bubble-shadow-small">
							<i class="fas fa-star-half-alt"></i>
						</div>
					</div>
					<div class="col col-stats ms-3 ms-sm-0">
						<div class="numbers">
							<p class="card-category">Pending Rating</p>
							<h4 class="card-title pendingRating">0</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-3">
		<div class="card card-stats card-round">
			<div class="card-body">
				<div class="row align-items-center">
					<div class="col-icon">
						<div class="icon-big text-center icon-primary bubble-shadow-small">
							<i class="fas fa-user-tie"></i>
						</div>
					</div>
					<div class="col col-stats ms-3 ms-sm-0">
						<div class="numbers">
							<p class="card-category">Total Employees</p>
							<h4 class="card-title totalEmployees">0</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-3">
		<div class="card card-stats card-round">
			<div class="card-body">
				<div class="row align-items-center">
					<div class="col-icon">
						<div class="icon-big text-center icon-info bubble-shadow-small">
							<i class="fas fa-headset"></i>
						</div>
					</div>
					<div class="col col-stats ms-3 ms-sm-0">
						<div class="numbers">
							<p class="card-category">Pending Interviews</p>
							<h4 class="card-title pendingInterviews">0</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-3">
		<div class="card card-stats card-round">
			<div class="card-body">
				<div class="row align-items-center">
					<div class="col-icon">
						<div class="icon-big text-center icon-success bubble-shadow-small">
							<i class="fas fa-users"></i>
						</div>
					</div>
					<div class="col col-stats ms-3 ms-sm-0">
						<div class="numbers">
							<p class="card-category">Total Users</p>
							<h4 class="card-title totalUsers">0</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-3">
		<div class="card card-stats card-round">
			<div class="card-body">
				<div class="row align-items-center">
					<div class="col-icon">
						<div class="icon-big text-center icon-secondary bubble-shadow-small">
							<i class="fas fa-microphone-alt"></i>
						</div>
					</div>
					<div class="col col-stats ms-3 ms-sm-0">
						<div class="numbers">
							<p class="card-category">Today Interviews</p>
							<h4 class="card-title todayInterviews">0</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="card card-round">
			<div class="card-header">
				<div class="card-head-row">
					<div class="card-title">Jyotish Statistics</div>

				</div>
			</div>
			<div class="card-body">
				<div class="chart-container" style="min-height: 375px">
					<canvas id="statisticsCharts"></canvas>
				</div>
				<div id="myChartLegends"></div>
			</div>
		</div>
	</div>

</div>

<script>


	$(document).ready(function(){
		   let jyotishArray=[0,0,0,0,0,0,0,0,0,0,0,0]
			function getDashboardData(){
		$.ajax({
			url:BaseUrl+"api/admin/getAdminDashboard",
			type:"get",
			  headers: {
				'Authorization': `Bearer ${localStorage.getItem("Token")}`

			},
			success:function(res){
			if(res!=null){
				let data=res.data;
				console.log(data)
				$(".totalJyotish").text(data.totalJyotish)
				$(".pendingJyotish").text(data.pendingJyotish)
				$(".totalUsers").text(data.totalUser)
				$(".approvedJyotish").text(data.approvedJyotish)
				$(".pendingRating").text(data.pendingRating)
				$(".totalEmployees").text(data.totalEmployee)
				$(".pendingInterviews").text(data.pendingInterView)
				$(".todayInterviews").text(data.todayInterview)
				   data.jyotishStatics.forEach(function(d){
					   jyotishArray[d.month-1]=d.total
				   })
				   // data.chatStatics.forEach(function(d){
					  //  chatArray[d.month-1]=d.total
				   // })
			}
			   getChartStatic()
			},error:function(xhr){
			Swal.fire({
				title:"error",
				text:"something went wrong",
				icon:"error"
			})
			}
		})
	}
	getDashboardData();

		 function getChartStatic(){
	var ctx = document.getElementById('statisticsCharts').getContext('2d');
	   var statisticsChart = new Chart(ctx, {
		   type: 'line',
		   data: {
			   labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
			   datasets: [ {
				   label: "Active Jyotish",
				   borderColor: '#f3545d',
				   pointBackgroundColor: 'rgba(243, 84, 93, 0.6)',
				   pointRadius: 0,
				   backgroundColor: 'rgba(243, 84, 93, 0.4)',
				   legendColor: '#f3545d',
				   fill: true,
				   borderWidth: 2,
					  data: jyotishArray
			   }]
		   },
		   options : {
			   responsive: true,
			   maintainAspectRatio: false,
			   legend: {
				   display: false
			   },
			   tooltips: {
				   bodySpacing: 4,
				   mode:"nearest",
				   intersect: 0,
				   position:"nearest",
				   xPadding:10,
				   yPadding:10,
				   caretPadding:10
			   },
			   layout:{
				   padding:{left:5,right:5,top:15,bottom:15}
			   },
			   scales: {
				   yAxes: [{
					   ticks: {
						   fontStyle: "500",
						   beginAtZero: false,
						   maxTicksLimit: 5,
						   padding: 10
					   },
					   gridLines: {
						   drawTicks: false,
						   display: false
					   }
				   }],
				   xAxes: [{
					   gridLines: {
						   zeroLineColor: "transparent"
					   },
					   ticks: {
						   padding: 10,
						   fontStyle: "500"
					   }
				   }]
			   },
			   legendCallback: function(chart) {
				   var text = [];
				   text.push('<ul class="' + chart.id + '-legend html-legend">');
				   for (var i = 0; i < chart.data.datasets.length; i++) {
					   text.push('<li><span style="background-color:' + chart.data.datasets[i].legendColor + '"></span>');
					   if (chart.data.datasets[i].label) {
						   text.push(chart.data.datasets[i].label);
					   }
					   text.push('</li>');
				   }
				   text.push('</ul>');
				   return text.join('');
			   }
		   }
	   });
		  var myLegendContainers = document.getElementById("myChartLegends");

		  // generate HTML legend
		  myLegendContainers.innerHTML = statisticsChart.generateLegend();

		  // bind onClick event to all LI-tags of the legend
		  var legendItems = myLegendContainers.getElementsByTagName('li');
		  for (var i = 0; i < legendItems.length; i += 1) {
			  legendItems[i].addEventListener("click", legendClickCallback, false);
		  }
		  }
	})

</script>
