@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<form class="border rounded  my-4 w-50 mx-auto p-3 d-flex gap-2" id="DepartmentForm">
    <input type="text" class="form-control" id="department" name="department" placeholder="Enter Department Name">
    <input type="submit" value="Add" class="btn btn-primary">
</form>

<div class="container mt-3">
    <table class="table">
        <thead>
            <tr>
            <th>Sr</th>
            <th>Name</th>
            </tr>
        </thead>
        <tbody id="tablecontainer">

        </tbody>
    </table>
</div>


<script>

    function getDepartment() {
        Swal.fire({
            title: "Processing Your Request",
            didOpen: () => {
                Swal.showLoading();
            }
        })
        $.ajax({
            url: BaseUrl + "api/admin/DepartmentList",
            type: "get",
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token")}`
            },
            success: function (res) {
                console.log(res,"dep")
                if (res.status == 200) {
                    res.data.forEach(function(d,i){
                        $("#tablecontainer").append(
                            `<tr>
                            <td class='text-center'>${i+1}</td>
                            <td class='text-center'>${d.departmentName}</td>
                            </tr>
                            `
                        )
                    })
                    
                }
                Swal.close();
            }
        })
    }
    getDepartment();

    $("#DepartmentForm").submit(function (e) {
        e.preventDefault();
        let formData=new FormData();
          Swal.fire({
            title: "Processing Your Request",
            didOpen: () => {
                Swal.showLoading();
            }
        })
        formData.append("departmentName", $("#department").val())
        $.ajax({
            url:BaseUrl+"api/admin/addDepartment",
            type:"post",
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token")}`
            },
            processData:false,
            contentType:false,
            data:formData,
            success:function(res){
               if(res.status==200){
                   Swal.fire({
                       title:"success",
                       text:res.message,
                       icon:"success",
                       didClose:()=>{
                           location.reload()
                       }
                   })
               }else{
                    Swal.fire({
                        title: "error",
                        text: res.message,
                        icon: "error"
                        
                    })
               }
            },
            error:function(){
                Swal.fire({
                    title: "error",
                    text: "some error occured",
                    icon: "error"

                })
            }
            
        })
    })
    
        


               
</script>
