@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    body {
        margin: 0;
        font-family: "Heebo", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #757575;
        background-color: #F3F6F9;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .main-container {
        overflow: hidden;
        padding: 15px;
        border-radius: 0px 10px 10px 0px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    }


    .left-part img {
        max-width: 100%;
        height: auto;
        border-radius: 10px 0px 0px 10px;
    }

    .form-select {
        font-size: 13px;
    }

    .right-part form input, .right-part form button {
        font-size: 13px;
    }

    .right-part button {
        background-color: #138496;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .right-part button:hover {
            background-color: #117a88;
        }

    hr:not([size]) {
        height: 0.02125rem !important;
    }


</style>

<!-- Feature Form Section -->
<div class="container-fluid d-flex justify-content-center align-items-center min-vh-90 mt-4">
    <div class="main-container row w-75 rounded-3">
        <!-- Form Section -->
        <div class="col-lg-12 col-md-12 p-2 bg-white right-part">
            <h5 class="mb-3 text-primary"></h5>
            <hr />
           
        </div>
    </div>
</div>


<!-- Features List Section -->
<div class="container mt-4">
    
</div>


<script>
    $(document).ready(function () {
       
    })
   
</script>




 


       <script>
         
       </script> 