@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "AdminLayout";
}
<style>
    .card-body{
        padding-left:15px !important;
        padding-right:15px !important;
    }
</style>

<div class="container-fluid mt-4">
    <div class="card">
        
        <div class="d-flex flex-row justify-content-between align-items-center pt-2 px-4" >
            <h5 class="text-primary">Pooja Category</h5>
            <a href="/Admin/AddPoojaCategory">
                <button class="btn btn-primary">Add New Category</button>
            </a>
        </div>
        <hr />
        
        <div class="card-body">
            <div class="table-responsive">
                <table id="DataTable" class="table table-bordered table-striped">
                    <!-- Table content goes here -->
                </table>
            </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
        function fetchData() {

            $.ajax({
                url: "https://api.myjyotishg.in/api/Admin/PoojaCategoryList",
                type: 'GET',
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem("Token")}`, // Example of an authorization header
                    'Content-Type': 'application/json', // Example of a content type header

                },
                success: function (result) {
                    let htmls = '<thead><tr><th>Id</th><th>Pooja</th><th>DateAdded</th></thead><tbody>';

                    $.each(result.data, function (key, item) {
                        htmls += '<tr>';
                        htmls += `<td class="text-center">${item.id}</td>`;
                        htmls += `<td class="text-center">${item.name}</td>`;
                        htmls += `<td class="text-center">${item.dateAdded}</td>`;



                        htmls += '</tr>';
                    });

                    htmls += '</tbody>';
                    $('#DataTable').html(htmls);
                    $('#DataTable').DataTable();
                },
                error: function (errormessage) {
                    console.error('Error fetching data:', errormessage.responseText);
                }
            });
        }

        // Load all records by default
        fetchData();
    });
</script>