@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />


<div class="row">

    <form class="w-75 mt-4 mx-auto border rounded p-3" id="serviceForm">
        <input type="hidden" name="features" id="featureId" />
        <h3 class="text-center text-secondary mb-4">Add Services</h3>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
        <select name="plan" class="form-select" id="planSelect" required>
            <option selected disabled>--select plan--</option>
        </select>
                </div>
                <div class="col-sm-6">

                    <select id="Features" name="features" class="select form-select" required>
                        <!---Dynamic Data Loaded-->
                    </select>
        </div>
        </div>
                <div class="col-sm-12 my-3">
                    <div class="row">
                <div class="col-sm-6">

        <input type="number" name="serviceCount" id="serviceCount" placeholder="Enter Service Count"  class="form-control"/>
        </div>
        <div class="col-sm-12 my-3 text-end">

        <input type="submit" value="Submit" id="subBtn"  class="btn btn-primary"/>
        </div>
        </div>
    </div>
    </div>
    </form>

</div>

<div class="container-fluid mt-4">
    <div class="card">

        <div class="d-flex flex-row justify-content-between align-items-center pt-2 px-4">
            <h5 class="text-primary">Service List</h5>
            
        </div>
        <hr />

        <div class="card-body">
            <div class="table-responsive">
                <table id="DataTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Sr</th>
                            <th>Plan Name</th>
                            <th>Plan Feature</th>
                            <th>Service Count</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function () {

        $(document).ready(function () {

            $.ajax({
                url: BaseUrl + 'api/Admin/GetAllManageSubscriptionData',
                type: 'GET',
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem("Token")}`
                },
                success: function (res) {
                    $("tbody").empty()
                    if (res.status == 200) {
                        if (res.data.length > 0) {
                            res.data.forEach(function (d,i) {
                                $("tbody").append(`
                            <tr>
                                <td>${i+1}</td>
                                <td>${d.subscriptionName}</td>
                                    <td>${d.featureName}</td>
                                        <td>${d.serviceCount}</td>
                                        <td>
                                                 <a class="deletePlan" role='button' data-id="${d.id}">
                                                   <i class="fa-solid fa-trash-can text-danger"></i>
                                               </a>
                                                    <a class="editPlan" role='button' data-edit='${JSON.stringify(d)}'>
                                                    <i class="fa-solid fa-pen-to-square text-success"></i>
                                               </a>
                                        </td>
                            </tr>
                            `)
                            })
                        }
                    }
                    
                   
                },
                error: function (error) {
                    console.error('An error occurred', error);  // Log actual error for better debugging
                }
            });
        });


        $(document).on('click', '.deletePlan', function () {

            var planId = $(this).attr('data-id');

            if (!planId) {
                Swal.fire({
                    title: 'Error',
                    text: 'Invalid plan ID.',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
                return;
            }

            Swal.fire({
                title: 'Are you sure?',
                text: 'This plan will be permanently deleted. Do you want to continue?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        url: BaseUrl + `api/Admin/DeleteManageSubscriptionData?Id=${planId}`,
                        type: 'GET',
                        headers: {
                            'Authorization': `Bearer ${localStorage.getItem("Token")}`,
                            'Content-Type': 'application/json',
                        },

                        success: function (response) {
                            Swal.fire({
                                title: 'Success!',
                                text: 'Plan deleted successfully.',
                                icon: 'success',
                                confirmButtonText: 'Ok'
                            }).then(() => {
                                window.location.reload();
                            });
                        },
                        error: function (error) {
                            console.error('An error occurred:', error);
                            Swal.fire({
                                title: 'Error',
                                text: 'There was an error deleting the plan. Please try again.',
                                icon: 'error',
                                confirmButtonText: 'Ok'
                            });
                        }
                    });
                } else {
                    Swal.fire({
                        title: 'Cancelled',
                        text: 'The plan was not deleted.',
                        icon: 'info',
                        confirmButtonText: 'Ok'
                    });
                }
            });

        });

        $(document).on("click", ".editPlan",function(){
            var plan = JSON.parse($(this).attr('data-edit'));
            console.log(plan)
            $("#planSelect").val(plan.subscriptionId)
            $("#Features").val(plan.featureId).change()
            $("#serviceCount").val(plan.serviceCount)
            $("#featureId").val(plan.featuresId)
            $("#subBtn").val("update")

        })
    

        $.ajax({
            url: BaseUrl +'api/Admin/GetAllSubscription',
            type: 'GET',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token")}`,
                'Content-Type': 'application/json',
            },
            success: function (res) {

                $.each(res.data, function (index, item) {
                    $("#planSelect").append(`
                        <option value='${item.subscriptionId}'>${item.name}</option>

`)
                });
            },
            error: function (error) {
                console.error('An error occurred', error);  // Log actual error for better debugging
            }
        });
    });
</script>

<!----Dynamic Feature List Load--->
<script>
    $(".select").select2({
        placeholder: "--Select Option--"
    });
    $(document).ready(function () {
        Swal.fire({
            title: "Processing Your Request",
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        })
        $.ajax({
            url: BaseUrl + 'api/Admin/GetAllFeatures',
            type: 'GET',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token")}`,
                'Content-Type': 'application/json',
            },
            success: function (res) {
                $('#Features').empty();
                Swal.close()
                $.each(res.data, function (index, item) {
                    var row = `<option value='${item.id}'>${item.name}</option>`;

                    $('#Features').append(row);
                });
            },
            error: function (error) {
                console.error('An error occurred while loading data list:', error);
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#serviceForm").submit(function (e) {
            e.preventDefault()
            Swal.fire({
                title: "Processing Your Request",
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            })
            if ($("#subBtn").val() != "update") {
               

                let formData = new FormData()
                let arrData = $(this).serializeArray();
                arrData.forEach(function (d) {
                    formData.append(d.name, d.value)
                })
                debugger
                $.ajax({
                    url: BaseUrl + 'api/Admin/AddManageSubscriptionData',
                    type: 'POST',
                    headers: {
                        'Authorization': `Bearer ${localStorage.getItem("Token")}`
                    },
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (res) {
                        Swal.fire({
                            title: "Success",
                            text: res.message,
                            icon: "success",
                            didClose: () => {
                                location.reload()
                            }
                        })
                    },
                    error: function (error) {
                        Swal.fire({
                            title: "error",
                            text: "Some error occured",
                            icon: "error"
                           
                        })
                    }
                });
            }else{
                let formData = new FormData()
                let arrData = $(this).serializeArray();
                arrData.forEach(function (d) {
                    formData.append(d.name, d.value)
                })
                debugger
                $.ajax({
                    url: BaseUrl + 'api/Admin/UpdateManageSubscriptionData',
                    type: 'POST',
                    headers: {
                        'Authorization': `Bearer ${localStorage.getItem("Token")}`
                    },
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (res) {
                        Swal.fire({
                            title: "Success",
                            text: res.message,
                            icon: "success",
                            didClose: () => {
                                location.reload()
                            }
                        })
                    },
                    error: function (error) {
                        Swal.fire({
                            title: "error",
                            text: "Some error occured",
                            icon: "error"

                        })
                    }
                });
            }
        });
    });
</script>