@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "AdminLayout";
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />


<div class="row">

    <form class="w-75 mt-4 mx-auto border rounded p-3" id="serviceForm">
        <h3 class="text-center text-secondary mb-4">Add Services</h3>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
        <select name="plan" class="form-select" id="planSelect" required>
            <option selected disabled>--select plan--</option>
        </select>
                </div>
                <div class="col-sm-6">

                    <select id="Features" name="features" class="select form-select" multiple="multiple" required>
                        <!---Dynamic Data Loaded-->
                    </select>
        </div>
        </div>
                <div class="col-sm-12 my-3">
                    <div class="row">
                <div class="col-sm-6">

        <input type="number" name="serviceCount" placeholder="Enter Service Count"  class="form-control"/>
        </div>
        <div class="col-sm-12 my-3 text-end">

        <input type="submit" value="Submit"  class="btn btn-primary"/>
        </div>
        </div>
    </div>
    </div>
    </form>

</div>

<div class="container-fluid mt-4">
    <div class="card">

        <div class="d-flex flex-row justify-content-between align-items-center pt-2 px-4">
            <h5 class="text-primary">Service List</h5>
            
        </div>
        <hr />

        <div class="card-body">
            <div class="table-responsive">
                <table id="DataTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Sr</th>
                            <th>Plan Name</th>
                            <th>Plan Feature</th>
                            <th>Service Count</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function () {

        $(document).ready(function () {

            $.ajax({
                url: BaseUrl + 'api/Admin/GetAllManageSubscriptionData',
                type: 'GET',
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem("Token")}`
                },
                success: function (res) {

                    if (res.status == 200) {
                        if (res.data.length > 0) {
                            res.data.forEach(function (d,i) {
                                $("tbody").append(`
                            <tr>
                                <td>${i+1}</td>
                                <td>${d.subscriptionName}</td>
                                    <td>${d.featureNames.join(",")}</td>
                                        <td>${d.serviceCount}</td>
                                        <td>
                                                 <a class="deletePlan" data-id="${d.id}">
                                                   <i class="fa-solid fa-trash-can text-danger"></i>
                                               </a>
                                                    <a class="editPlan" data-id="${d.id} ">
                                                    <i class="fa-solid fa-pen-to-square text-success"></i>
                                               </a>
                                        </td>
                            </tr>
                            `)
                            })
                        }
                    }
                    
                    $('#DataTable').DataTable();
                },
                error: function (error) {
                    console.error('An error occurred', error);  // Log actual error for better debugging
                }
            });
        });


        $.ajax({
            url: BaseUrl +'api/Admin/GetAllSubscription',
            type: 'GET',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token")}`,
                'Content-Type': 'application/json',
            },
            success: function (res) {

                $.each(res.data, function (index, item) {
                    $("#planSelect").append(`
                        <option value='${item.subscriptionId}'>${item.name}</option>

`)
                });
                $('#DataTable').DataTable();
            },
            error: function (error) {
                console.error('An error occurred', error);  // Log actual error for better debugging
            }
        });
    });
</script>

<!----Dynamic Feature List Load--->
<script>
    $(".select").select2({
        placeholder: "--Select Option--"
    });
    $(document).ready(function () {
        Swal.fire({
            title: "Processing Your Request",
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        })
        $.ajax({
            url: BaseUrl + 'api/Admin/GetAllFeatures',
            type: 'GET',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token")}`,
                'Content-Type': 'application/json',
            },
            success: function (res) {
                $('#Features').empty();
                Swal.close()
                $.each(res.data, function (index, item) {
                    var row = `<option value='${item.id}'>${item.name}</option>`;

                    $('#Features').append(row);
                });
            },
            error: function (error) {
                console.error('An error occurred while loading data list:', error);
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#serviceForm").submit(function (e) {
            e.preventDefault()
            Swal.fire({
                title: "Processing Your Request",
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            })
            
            let formData=new FormData()
            let arrData = $(this).serializeArray();
            arrData.forEach(function(d){
                formData.append(d.name,d.value)
            })
            debugger
            $.ajax({
                url: BaseUrl + 'api/Admin/AddManageSubscriptionData',
                type: 'POST',
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem("Token")}`
                },
                processData:false,
                contentType: false,
                data: formData,
                success: function (res) {
                    Swal.fire({
                        title: "Success",
                        text: res.message,
                        icon: "success",
                        didClose: () => {
                            location.reload()
                        }
                    })
                },
                error: function (error) {
                    console.error('An error occurred while loading data list:', error);
                }
            });
        });
    });
</script>