@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
	.vh-75 {
		height: 75vh !important;
	}

	.right-0 {
		right: 2px;
	}
</style>

<div class="container my-4 vh-75 ">
	<div class="d-flex mb-5 justify-content-between align-items-center">
		<span class="heading-bookpooja text-secondary px-5 bg-warning fw-bold p-3">
			Book a Pooja
		</span>
		<div class="search-box w-25">
			<div class="input-group mb-3">
				<span class="input-group-text " id="basic-addon1"><i class="fas fa-search text-warning"></i></span>
				<input type="search" name="search" id="searchPooja" placeholder="Search by name" class="form-control" />
			</div>
		</div>
	</div>
	<div class="row gap-3" id="poojaCards">
		
	</div>

</div>

<script>
	let poojaRecord = [];
	function getAllPoojaList() { 
	Swal.fire({
		title: "Processing Your Request",
		allowOutsideClick: false,
		didOpen: () => {
			Swal.showLoading();
		}
	})
	$.ajax({
			url: BaseUrl + "api/user/getAllPoojaList",
		type: "get",
		success: function (res) {
			Swal.close();
			if(res.status==200){
				poojaRecord=res.data;
				
			}
		},error:function(){
				Swal.fire({
					text: "some error occured",
					title: "error",
					icon: "error"

				})
		}
	}).then(()=>{
			$("#searchPooja").on("input", function () {
				$("#poojaCards").empty()
				if (poojaRecord.length > 0) {
					let search=$(this).val()
					debugger
					let filterPoojaRecord
					if (search == "" || search==undefined){
						filterPoojaRecord = poojaRecord;
					}else{
						filterPoojaRecord = poojaRecord.filter(e => {
							return e.poojaName.toLowerCase().includes(search.toLowerCase()) ||
								e.title.toLowerCase().includes(search.toLowerCase());
						});
					}
					filterPoojaRecord.forEach(function (d) {
						$("#poojaCards").append(`
								<div class="card  p-0" style="width: 18rem;">
							<img src="${BaseUrl}${d.image}" class="card-img-top w-100" height="180" alt="...">
								
						<div class="card-body">
							<div class="card-text">
									<p class="fw-bold mb-1">${d.poojaName}</p>
										<p class="text-secondary" id='title_${d.id}'>${d.title.slice(0, 25)}...<span class='text-primary' onclick='seemoretitle("${d.title}",${d.id})' role='button'> more</span ></p >
									<a href='/home/PoojaDetails?id=${d.id}' class="btn btn-warning text-light">Book Pooja &rarr;</a>
							</div>
						</div>
					</div>
							`)
					})
				} else {
					$("#poojaCards").html("<p class='text-secondary my-4 text-center'>no record found</p>")
				}
			})
			$("#searchPooja").trigger("input")
	})
}
	getAllPoojaList();

	function seemoretitle(title,id){
		let oldTitle = $("#title_" + id).html();
		let escapedOldTitle = encodeURIComponent(oldTitle)
		title = decodeURIComponent(title)
		$("#title_" + id).html(title + `&nbsp;&nbsp;<span onclick="seelesstitle('${escapedOldTitle}',${id})" role='button' class='text-primary'>less</span>`)
	}
	
	function seelesstitle(title,id){
		let newTitle = encodeURIComponent($("#title_" + id).html());
		title=decodeURIComponent(title)
		$("#title_" + id).html(title + `<span class='text-primary' onclick="seemoretitle('${newTitle}',${id})"`)
	}
</script>