@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .vh-75{
        height:75vh !important;
    }

    .right-0{
        right:2px;
    }
</style>

<div class="container my-4 vh-75 ">
    <div class="d-flex mb-5 justify-content-between align-items-center">
        <span class="heading-bookpooja text-secondary px-5 bg-warning fw-bold p-3">
            Book a Pooja
        </span>
        <div class="search-box w-25">
            <div class="input-group mb-3">
                <span class="input-group-text " id="basic-addon1"><i class="fas fa-search text-warning"></i></span>
            <input type="search" name="search" id="search" placeholder="Search by name" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
    <div class="card position-relative p-0" style="width: 18rem;">
        <img src="/astrologer-bg.jpg" class="card-img-top w-100" alt="...">
        <img src="/icons8-dashboard-48.png" class="position-absolute top-0 rounded-circle right-0" height="60" width="60"/>
        <div class="card-body">
            <div class="card-text">
               <p class="fw-bold mb-1">lakshami pooja</p>
               <p class="text-secondary">Dhan ki haani kam hogi</p>
               <button class="btn btn-warning text-light">Book Pooja &rarr;</button>
                </div>
        </div>
    </div>
    </div>

</div>