
<style>
	.hindiFestivalSection .hindiFestivalDetailsBoxes {
		gap: 10px 10px !important;
	}

	.kundli-icon {
		width: 80px;
		margin-bottom: 20px;
	}

	.connect-section {
		background-color: #ffeb85; /* Light yellow background */
		text-align: center;
		padding: 20px;
		border-radius: 8px;
	}

		.connect-section .btn {
			margin: 5px;
		}
</style>

<div id="wb-widget-festivals-17359815916" class="open_setting" data-wb_setting="217"></div>
<div class="container mb-3">
	<!-- Connect Section -->
	<div class="connect-section">
		<p class="mb-3">
			Connect with an Astrologer on Call or Chat for more personalised detailed predictions.
		</p>
		<a class="btn btn-warning text-light fw-bold" href="/Home/talk" target="_blank">Talk to Astrologer</a>
		<a class="btn btn-light border fw-bold" href="/Home/chat" target="_blank">Chat with Astrologer</a>
	</div>
<script id="widget-festivals-17359815916-script" class="wb_widget_festivals" src="https://astroapi-6.divineapi.com/widget/festivals.js?17359815916&widget_token=711d7efc9024ff83cb45cf980d5792c8&widget_id=wb-widget-festivals-17359815916&setting=217"></script>