@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
	.custom-table-header {
		ba--bs-table-color: #ffc108;
		--bs-table-bg: #ffc108;
	}

	.custom-table-row:nth-child(even) {
		background-color: #fff5cc;
	}

	.custom-table-row:nth-child(odd) {
		background-color: #fffcf2;
	}

	.custom-table-row:hover {
		background-color: #ffe680;
	}

	.summary-section, .additional-reports, .list-group {
		background-color: #fff5cc;
		padding: 15px;
		border: 1px solid #fad550;
		border-radius: 5px;
	}

		.list-group li {
			border: none;
			background-color: #fff5cc;
			padding: 15px;
			border-bottom: 1px solid #fad550;
		}
</style>

<div class="container">
	<h1 class="text-center text-warning my-4">Kundli Matching Report</h1>
	<div class="row justify-content-center mb-4 align-items-center">



		<div class="col-md-4 text-center  mb-md-0">
			<div class=" ">

				<div class=" d-flex justify-content-center gap-2 align-items-center">
					<h4 id="boyHeadName" class="m-0 fw-normal shadow-sm border rounded border-warning px-2 py-1">Boy's Name</h4>
					<img src="/two-heart.png" class="img-fluid rounded-circle" height="80" width="80" alt="match making engagement ring">
					<h4 id="girlHeadName" class="m-0 fw-normal border shadow-sm rounded border-warning px-2 py-1">Girl's Name</h4>
				</div>

			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-6">
			<div class="card shadow-sm mb-4">
				<div class="card-header bg-warning ">
					<i class="fa fa-male" aria-hidden="true"></i> Basic Details <span class="rounded px-2 bg-success text-light py-1">Male</span>

				</div>
				<div class="card-body">

					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-4">
									<span class="title-head font-weight-bold mb-3">Name:</span>

								</div>
								<div class="col-sm-8">
									<span class="title-data mb-3" id="boyName"></span>

								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<span class="title-head font-weight-bold mb-3"> Birth Date:</span>

								</div>
								<div class="col-sm-8">
									<span class="title-data mb-3" id="boyDateOfBirth"></span>

								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<span class="title-head font-weight-bold mb-3">Birth Time:</span>

								</div>
								<div class="col-sm-8">
									<span class="title-data mb-3" id="boyTimeOfBirth"></span>

								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<span class="title-head font-weight-bold mb-3">Birth Place:</span>

								</div>
								<div class="col-sm-8">
									<span class="title-data mb-3" id="boyPlaceOfBirth"></span>

								</div>
							</div>

						</div>

					</div>

				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card shadow-sm mb-4">
				<div class="card-header bg-warning">
					<i class="fa fa-female" aria-hidden="true"></i> Basic Details <span class="rounded bg-success text-light px-2 py-1">Female</span>
				</div>
				<div class="card-body">

					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-4">
									<span class="title-head font-weight-bold">Name:</span>

								</div>
								<div class="col-sm-8">
									<span class="title-data" id="girlName"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<span class="title-head font-weight-bold">Birth Date:</span>
								</div>
								<div class="col-sm-8">
									<span class="title-data" id="girlDateOfBirth"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<span class="title-head font-weight-bold">Birth Time:</span>
								</div>
								<div class="col-sm-8">
									<span class="title-data" id="girlTimeOfBirth"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<span class="title-head font-weight-bold">Birth Place:</span>
								</div>
								<div class="col-sm-8">
									<span class="title-data" id="girlPlaceOfBirth"></span>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
	<h1 class="text-center my-4">Ashtakoota Match Report</h1>
	<div class="table-responsive">

		<!-- Summary Card -->
		<div class="card mb-4 summary-section shadow-sm">
			<div class="card-body">
				<h3 class="card-title">Summary</h3>
				<p class="mb-1"><strong>Total Points:</strong> <span id="totalReceived"></span> / <span id="totalPoints"></span></p>
				<p class="mb-1"><strong>Minimum Required:</strong> <span id="minimumRequired"></span></p>
				<p id="ashtakootaConclusion" class="mt-3"></p>
			</div>
		</div>

		<!-- Ashtakoota Table -->
		<div class="card mb-4 shadow-sm">
			<div class="card-header">
				<h3 class="card-title mb-0">Ashtakoota Details</h3>
			</div>
			<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<thead class="custom-table-header">
						<tr>
							<th>Aspect</th>
							<th>Description</th>
							<th>Male Attribute</th>
							<th>Female Attribute</th>
							<th>Total Points</th>
							<th>Received Points</th>
							<th>Male Points</th>
							<th>Female Points</th>
						</tr>
					</thead>
					<tbody id="ashtakootaTable">
						<!-- Dynamic rows will be added here -->
					</tbody>
				</table>
			</div>
		</div>

		<!-- Additional Reports -->
		<div class="card mb-4 shadow-sm additional-reports">
			<div class="card-body">
				<h3 class="card-title">Additional Reports</h3>
				<ul class="list-group">
					<li class="list-group-item">
						<strong>Manglik Status:</strong> <span id="manglikStatus"></span>
					</li>
					<li class="list-group-item">
						<strong>Male Percentage:</strong> <span id="malePercentage"></span>%
					</li>
					<li class="list-group-item">
						<strong>Female Percentage:</strong> <span id="femalePercentage"></span>%
					</li>
					<li class="list-group-item">
						<strong>Rajju Dosha:</strong> <span id="rajjuDosha"></span>
					</li>
					<li class="list-group-item">
						<strong>Vedha Dosha:</strong> <span id="vedhaDosha"></span>
					</li>
				</ul>
				<p id="matchConclusion" class="mt-3 border rounded p-2 border-warning"></p>
			</div>
		</div>
	</div>

</div>



<script>

	function getCookie(name) {
		const cookieArray = document.cookie.split('; ');
		for (let i = 0; i < cookieArray.length; i++) {
			const [key, value] = cookieArray[i].split('=');
			if (key === name) {
				return decodeURIComponent(value);
			}
		}
		return null;
	}

	let languageKundali = getCookie("languageKundali")
	

	function fillKootamValues(data) {

		// Populate Ashtakoota Table
		const ashtakootaTable = document.getElementById('ashtakootaTable');
		for (const [key, value] of Object.entries(data.ashtakoota)) {
			if (key !== 'total' && key !== 'conclusion') {
				const row = document.createElement('tr');
				row.classList.add("custom-table-row")
				row.innerHTML = `
								<td>${key.charAt(0).toUpperCase() + key.slice(1)}</td>
								<td>${value.description}</td>
								<td>${value.male_koot_attribute}</td>
								<td>${value.female_koot_attribute}</td>
								<td>${value.total_points}</td>
								<td>${value.received_points}</td>
								<td>${value.male_point}</td>
								<td>${value.female_point}</td>
							`;
				ashtakootaTable.appendChild(row);
			}
		}

		document.getElementById('totalReceived').textContent = data.ashtakoota.total.received_points;
		document.getElementById('totalPoints').textContent = data.ashtakoota.total.total_points;
		document.getElementById('minimumRequired').textContent = data.ashtakoota.total.minimum_required;
		document.getElementById('ashtakootaConclusion').textContent = data.ashtakoota.conclusion.report;

		document.getElementById('manglikStatus').textContent = data.manglik.status ? 'Yes' : 'No';
		document.getElementById('malePercentage').textContent = data.manglik.male_percentage;
		document.getElementById('femalePercentage').textContent = data.manglik.female_percentage;
		document.getElementById('rajjuDosha').textContent = data.rajju_dosha.status ? 'Yes' : 'No';
		document.getElementById('vedhaDosha').textContent = data.vedha_dosha.status ? 'Yes' : 'No';
		document.getElementById('matchConclusion').textContent = data.conclusion.match_report;

	}
	async function kundaliMatchingApi(language,response) {

		var Data = response.data;
		if (Data[0].gender == "Female") {
			girlData = Data[0]
			boyData = Data[1]
		}
		else {
			girlData = Data[1]
			boyData = Data[0]
		}
		var boyName = boyData.name;
		var [byear, bmonth, bday] = boyData.dateOfBirth.split('-');
		var [gyear, gmonth, gday] = girlData.dateOfBirth.split('-');

		var [bhour, bmin, bsec] = boyData.timeOfBirth.split(':')
		var [ghour, gmin, gsec] = girlData.timeOfBirth.split(':')

		var boyDate = bday;
		var boyMonth = bmonth;
		var boyYear = byear;

		var boyhour = bhour;
		var boymin = bmin;
		var boySec = bsec;


		var girlName = girlData.name;
		var girlDate = gday;
		var girlMonth = gmonth;
		var girlYear = gyear;

		var girlhour = ghour;
		var girlmin = gmin;
		var girlSec = gsec;


		var glatitude = girlData.latitude;
		var glongitude = girlData.longitude;

		var blatitude = boyData.latitude;
		var blongitude = boyData.longitude;

		var gtimezone = girlData.timezone;
		var btimezone = boyData.timezone;

		$('#boyName').text(boyName);
		$('#boyHeadName').text(boyName);
		$('#boyDateOfBirth').text(`${boyDate}-${boyMonth}-${boyYear}`);
		$('#boyTimeOfBirth').text(boyData.timeOfBirth);
		$('#boyPlaceOfBirth').text(boyData.placeOfBirth);

		$('#girlName').text(girlName);
		$('#girlHeadName').text(girlName);
		$('#girlDateOfBirth').text(`${girlDate}-${girlMonth}-${girlYear}`);
		$('#girlTimeOfBirth').text(girlData.timeOfBirth);
		$('#girlPlaceOfBirth').text(girlData.placeOfBirth);

		var DataContainer = {
			"f_year": parseInt(girlYear),
			"f_month": parseInt(girlMonth),
			"f_day": parseInt(girlDate),
			"f_hour": parseInt(girlhour),
			"f_min": parseInt(girlmin),
			"f_lat": parseFloat(glatitude),
			"f_lon": parseFloat(glongitude),
			"f_tzone": parseFloat(gtimezone),
			"m_year": parseInt(boyYear),
			"m_month": parseInt(boyMonth),
			"m_day": parseInt(boyDate),
			"m_hour": parseInt(boyhour),
			"m_min": parseInt(boymin),
			"m_lat": parseFloat(blatitude),
			"m_lon": parseFloat(blongitude),
			"m_tzone": parseFloat(btimezone)
		};


		console.log(DataContainer);
		$.ajax({
			url: 'https://json.astrologyapi.com/v1/match_making_detailed_report',
			type: 'POST',
			headers: {
				"authorization": auth,
				"Content-Type": 'application/json',
				"Accept-Language": language
			},
			contentType: 'application/json',
			data: JSON.stringify(DataContainer),
			success: function (response) {
				console.log(response);
				fillKootamValues(response);
				Swal.close()
			},
			error: function (xhr, status, error) {
				console.error("Error: " + xhr);
				Swal.fire({
					title: 'error',
					text: 'Something went wrong',
					icon: 'error'
				})
			}
		});
	}

	$.ajax({
		url: BaseUrl + `Api/User/GetLatestKundaliRecord?Id=${localStorage.getItem("userId")}`,
		type: 'GET',

		headers: {

			'Authorization': `Bearer ${localStorage.getItem("Token")}`,
		},

		success: function (response) {
			if (response.status === 200) {
				if (languageKundali != null) {
					kundaliMatchingApi(languageKundali, response)
				} else {
					location.href = "/Home/KundaliMatching"
				}

			}
		},
		error: function (xhr, status, error) {
			console.error("Error: " + error);
			Swal.fire({
				title: 'error',
				text: 'Something went wrong',
				icon: 'error'
			})
		}
	});



</script>
