@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <h1 class="heading-match-making">Kundli Matching Report</h1>
    <div class="matching-with">
        <div class="candidate-name">LYTHSRGH</div>
        <div class="icon-match-making"><img src="https://aws.astrotalk.com/assets/images/rings.webp" height="144" width="144" alt="match making engagement ring"></div>
        <div class="candidate-name">RHGRSHF</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="basic-details">
                <div class="header-basic-details"><i class="fa fa-male" aria-hidden="true"></i> Basic Details <span>Male</span></div>
                <div class="basic-details-content">
                    <span class="title-head">Name</span>
                    <span class="title-data">LYTHSRGH</span>
                </div>
                <div class="basic-details-content">
                    <span class="title-head">Birth Date &amp; Time</span>
                    <span class="title-data">1 January 1990 | 1:1</span>
                </div>
                <div class="basic-details-content">
                    <span class="title-head">Birth Place</span>
                    <span class="title-data">New Delhi, Delhi, India</span>
                </div>
                <div class="basic-details-content">
                    <span class="title-head">Janam Rashi</span>
                    <span class="title-data">Aquarius</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="basic-details">
                <div class="header-basic-details"><i class="fa fa-female" aria-hidden="true"></i> Basic Details <span>Female</span></div>
                <div class="basic-details-content">
                    <span class="title-head">Name</span>
                    <span class="title-data">RHGRSHF</span>
                </div>
                <div class="basic-details-content">
                    <span class="title-head">Birth Date &amp; Time</span>
                    <span class="title-data">1 January 1992 | 1:1</span>
                </div>
                <div class="basic-details-content">
                    <span class="title-head">Birth Place</span>
                    <span class="title-data">New Delhi, Delhi, India</span>
                </div>
                <div class="basic-details-content">
                    <span class="title-head">Janam Rashi</span>
                    <span class="title-data">Scorpio</span>
                </div>
            </div>
        </div>
    </div>
    <h2 class="ashtakoot-heading">Match Ashtakoot Points</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Male</th>
                    <th>Female</th>
                    <th>Received</th>
                    <th>Out of</th>
                    <th>Area Of Life</th>
                    <th>Description</th>
                    <th>Meaning</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Varna</td>
                    <td>Vaishya</td>
                    <td>Brahmin</td>
                    <td>0</td>
                    <td>1</td>
                    <td>Natural Refinement / Work</td>
                    <td>The work gunas don't match for this pair and the overall compatibility may not be at its best</td>
                    <td>Varna refers to the mental compatibility of the two persons involved. It holds nominal effect in the matters of marriage compatibility.</td>
                </tr>
                <tr>
                    <td>Vashya</td>
                    <td>Nara</td>
                    <td>Keeta</td>
                    <td>1</td>
                    <td>2</td>
                    <td>Innate Giving / Attraction towards each other</td>
                    <td>The boy and the girl both will retain an amazing understanding when it will come to an emotional, moral and professional aspect.</td>
                    <td>Vashya indicates the bride and the groom's tendency to dominate or influence each other in a marriage.</td>
                </tr>
                <tr>
                    <td>Tara</td>
                    <td></td>
                    <td></td>
                    <td>3</td>
                    <td>3</td>
                    <td>Comfort - Prosperity - Health</td>
                    <td>Both of them will be encouraging and respectful towards each other. Overall, this is an excellent alliance.</td>
                    <td>Tara is the indicator of the birth star compatibility of the bride and the groom. It also indicates the fortune of the couple.</td>
                </tr>
                <tr>
                    <td>Yoni</td>
                    <td>Simha</td>
                    <td>Vyaghra</td>
                    <td>1</td>
                    <td>4</td>
                    <td>Physical Intimacy</td>
                    <td>Both of them need to work in synchronization which might create friction at times between them</td>
                    <td>Yoni is the indicator of the sexual or physical compatibility between the bride and the groom in question.</td>
                </tr>
                <tr>
                    <td>Maitri</td>
                    <td>Saturn</td>
                    <td>Mars</td>
                    <td>0.5</td>
                    <td>5</td>
                    <td>Friendliness of Sign Lords</td>
                    <td>This combination of the gunas is not preferable for marriage, consult an astrologer before proceeding ahead.</td>
                    <td>Graha Maitri is the indicator of the intellectual and mental connection between the prospective couple.</td>
                </tr>
                <tr>
                    <td>Gan</td>
                    <td>Rakshasa</td>
                    <td>Rakshasa</td>
                    <td>6</td>
                    <td>6</td>
                    <td>Temperament</td>
                    <td>The pair will be supportive of each other in every aspect of life which will foster the sense of humbleness between the both. Overall, this is an ideal match for wedding purposes.</td>
                    <td>Gana is the indicator of the behaviour, character and temperament of the potential bride and groom towards each other.</td>
                </tr>
                <tr>
                    <td>Bhakut</td>
                    <td>Aquarius</td>
                    <td>Scorpio</td>
                    <td>7</td>
                    <td>7</td>
                    <td>Health and wealth</td>
                    <td>Happiness and prosperity will prevail in the pair's marital life.</td>
                    <td>Bhakoota is related to the couple's joys and sorrows together and assesses the wealth and health after their wedding.</td>
                </tr>
                <tr>
                    <td>Nadi</td>
                    <td>Madhya</td>
                    <td>Antya</td>
                    <td>8</td>
                    <td>8</td>
                    <td>Progeny</td>
                    <td>This couple will experience beneficial and long lasting partnership. This marriage is preferable at all cost.</td>
                    <td>Nadi is related to the health compatibility of the couple. Matters of childbirth and progeny are also determined with this Guna.</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td>26.5</td>
                    <td>36</td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <p class="matching-points">Ashtakoot Matching between male and female is 26.5 points out of 36 points. This is a reasonably good score. Hence, this is a favourable Ashtakoot match.</p>
    <h2 class="heading-dosha">Dosha</h2>
    <div class="row">
        <div class="col-6">
            <div class="dosha-items active">
                <span class="title-name">Ashtakoot</span>
                <span class="score-result">26.5/36</span>
            </div>
        </div>
        <div class="col-6">
            <div class="dosha-items active">
                <span class="title-name">Manglik Match</span>
                <span class="score-result ng-star-inserted">No</span>
            </div>
        </div>
    </div>
    <div class="manglik-report">
        <p>The overall points of this couple represent a great combination, both the bride and the groom have no mangal dosh. Marriage is preferred. Consult an astrologer to get rid of the few remedies and the doshas present for a harmonious married life ahead.Both boy and girl are not Manglik, which does not lead to any problems.</p>
    </div>
</div>
