@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <h1 class="text-center text-primary mb-4">Kundli Matching Report</h1>
    <div class="row justify-content-center mb-4 align-items-center">


      
        <div class="col-md-4 text-center  mb-md-0">
            <div class=" ">
               
                <div class=" d-flex justify-content-center align-item-center">
                    <h4 id="boyHeadName" class="m-0 fw-normal">Boy's Name</h4>
                    <img src="https://aws.astrotalk.com/assets/images/rings.webp" class="img-fluid rounded-circle" height="80" width="80" alt="match making engagement ring">
                    <h4 id="girlHeadName" class="m-0 fw-normal">Girl's Name</h4>
                </div>
                
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-warning ">
                    <i class="fa fa-male" aria-hidden="true"></i> Basic Details <span>Male</span>
                   
                </div>
                <div class="card-body">

                    <div class="row" >
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <span class="title-head font-weight-bold mb-3">Name:</span>

                                </div>
                                <div class="col-sm-8">
                                    <span class="title-data mb-3" id="boyName"></span>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <span class="title-head font-weight-bold mb-3"> Birth Date:</span>

                                </div>
                                <div class="col-sm-8">
                                    <span class="title-data mb-3" id="boyDateOfBirth"></span>

                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-4">
                                    <span class="title-head font-weight-bold mb-3">Birth Time:</span>

                                </div>
                                <div class="col-sm-8">
                                    <span class="title-data mb-3" id="boyTimeOfBirth"></span>

                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-4">
                                    <span class="title-head font-weight-bold mb-3">Birth Place:</span>

                                </div>
                                <div class="col-sm-8">
                                    <span class="title-data mb-3" id="boyPlaceOfBirth"></span>

                                </div>
                            </div>

                        </div>
                       
                    </div>
                  
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-warning">
                    <i class="fa fa-female" aria-hidden="true"></i> Basic Details <span>Female</span>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <span class="title-head font-weight-bold">Name:</span>

                                </div>
                                <div class="col-sm-8">
                                    <span class="title-data" id="girlName"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <span class="title-head font-weight-bold">Birth Date:</span>
                                </div>
                                <div class="col-sm-8">
                                    <span class="title-data" id="girlDateOfBirth"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <span class="title-head font-weight-bold">Birth Time:</span>
                                </div>
                                <div class="col-sm-8">
                                    <span class="title-data" id="girlTimeOfBirth"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <span class="title-head font-weight-bold">Birth Place:</span>
                                </div>
                                <div class="col-sm-8">
                                    <span class="title-data" id="girlPlaceOfBirth"></span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <h2 class="">Match Ashtakoot Points</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th id="kootam_type">Kootam Type</th>
                    <th id="bride_details">Bride Details</th>
                    <th id="groom_details">Groom Details</th>
                    <th id="out_of">Out of</th>
                    <th id="score">Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="varna_kootam"></td>
                    <td id="bride_varna_details"></td>
                    <td id="groom_varna_details"></td>
                    <td id="varna_out_of"></td>
                    <td id="varna_score"></td>
                </tr>
                <tr>
                    <td id="vasya_kootam"></td>
                    <td id="bride_vasya_details"></td>
                    <td id="groom_vasya_details"></td>
                    <td id="vasya_out_of"></td>
                    <td id="vasya_score"></td>
                </tr>
                <tr>
                    <td id="tara_kootam"></td>
                    <td id="bride_tara_details"></td>
                    <td id="groom_tara_details"></td>
                    <td id="tara_out_of"></td>
                    <td id="tara_score"></td>
                </tr>
                <tr>
                    <td id="yoni_kootam"></td>
                    <td id="bride_yoni_details"></td>
                    <td id="groom_yoni_details"></td>
                    <td id="yoni_out_of">4</td>
                    <td id="yoni_score">4</td>
                </tr>
                <tr>
                    <td id="graha_maitri_kootam"></td>
                    <td id="bride_graha_details"></td>
                    <td id="groom_graha_details"></td>
                    <td id="graha_out_of">5</td>
                    <td id="graha_score">0.5</td>
                </tr>
                <tr>
                    <td id="gana_kootam"></td>
                    <td id="bride_gana_details"></td>
                    <td id="groom_gana_details"></td>
                    <td id="gana_out_of">6</td>
                    <td id="gana_score">0</td>
                </tr>
                <tr>
                    <td id="rasi_kootam">Rasi Kootam</td>
                    <td id="bride_rasi_details"></td>
                    <td id="groom_rasi_details"></td>
                    <td id="rasi_out_of">7</td>
                    <td id="rasi_score">7</td>
                </tr>
                <tr>
                    <td id="nadi_kootam">Nadi Kootam</td>
                    <td id="bride_nadi_details"></td>
                    <td id="groom_nadi_details"></td>
                    <td id="nadi_out_of">8</td>
                    <td id="nadi_score">0</td>
                </tr>
                <tr>
                    <td id="total_score_label">Total Score</td>
                    <td colspan="4" id="total_score_value"></td>
                </tr>
            </tbody>
        </table>

    </div>
   



</div>



<script>
    function fillKootamValues(data) {
        document.getElementById('varna_kootam').innerText = "Varna Kootam";
        document.getElementById('bride_varna_details').innerText = `Moon Sign: ${data.varna_kootam.bride.moon_sign} (${data.varna_kootam.bride.moon_sign_number}), Varna: ${data.varna_kootam.bride.varnam_name} (${data.varna_kootam.bride.varnam})`;
        document.getElementById('groom_varna_details').innerText = `Moon Sign: ${data.varna_kootam.groom.moon_sign} (${data.varna_kootam.groom.moon_sign_number}), Varna: ${data.varna_kootam.groom.varnam_name} (${data.varna_kootam.groom.varnam})`;
        document.getElementById('varna_out_of').innerText = data.varna_kootam.out_of;
        document.getElementById('varna_score').innerText = data.varna_kootam.score;

        document.getElementById('vasya_kootam').innerText = "Vasya Kootam";
        document.getElementById('bride_vasya_details').innerText = `Kootam: ${data.vasya_kootam.bride.bride_kootam_name} (${data.vasya_kootam.bride.bride_kootam})`;
        document.getElementById('groom_vasya_details').innerText = `Kootam: ${data.vasya_kootam.groom.groom_kootam_name} (${data.vasya_kootam.groom.groom_kootam})`;
        document.getElementById('vasya_out_of').innerText = data.vasya_kootam.out_of;
        document.getElementById('vasya_score').innerText = data.vasya_kootam.score;

        document.getElementById('tara_kootam').innerText = "Tara Kootam";
        document.getElementById('bride_tara_details').innerText = `Star: ${data.tara_kootam.bride.star_name} (${data.tara_kootam.bride.star_number})`;
        document.getElementById('groom_tara_details').innerText = `Star: ${data.tara_kootam.groom.star_name} (${data.tara_kootam.groom.star_number})`;
        document.getElementById('tara_out_of').innerText = data.tara_kootam.out_of;
        document.getElementById('tara_score').innerText = data.tara_kootam.score;

        document.getElementById('yoni_kootam').innerText = "Yoni Kootam";
        document.getElementById('bride_yoni_details').innerText = `Yoni: ${data.yoni_kootam.bride.yoni} (${data.yoni_kootam.bride.yoni_number})`;
        document.getElementById('groom_yoni_details').innerText = `Yoni: ${data.yoni_kootam.groom.yoni} (${data.yoni_kootam.groom.yoni_number})`;
        document.getElementById('yoni_out_of').innerText = data.yoni_kootam.out_of;
        document.getElementById('yoni_score').innerText = data.yoni_kootam.score;

        document.getElementById('graha_maitri_kootam').innerText = "Graha Maitri Kootam";
        document.getElementById('bride_graha_details').innerText = `Moon Sign Lord: ${data.graha_maitri_kootam.bride.moon_sign_lord_name} (${data.graha_maitri_kootam.bride.moon_sign_lord})`;
        document.getElementById('groom_graha_details').innerText = `Moon Sign Lord: ${data.graha_maitri_kootam.groom.moon_sign_lord_name} (${data.graha_maitri_kootam.groom.moon_sign_lord})`;
        document.getElementById('graha_out_of').innerText = data.graha_maitri_kootam.out_of;
        document.getElementById('graha_score').innerText = data.graha_maitri_kootam.score;

        document.getElementById('gana_kootam').innerText = "Gana Kootam";
        document.getElementById('bride_gana_details').innerText = `Nadi: ${data.gana_kootam.bride.bride_nadi_name} (${data.gana_kootam.bride.bride_nadi})`;
        document.getElementById('groom_gana_details').innerText = `Nadi: ${data.gana_kootam.groom.groom_nadi_name} (${data.gana_kootam.groom.groom_nadi})`;
        document.getElementById('gana_out_of').innerText = data.gana_kootam.out_of;
        document.getElementById('gana_score').innerText = data.gana_kootam.score;

        document.getElementById('rasi_kootam').innerText = "Rasi Kootam";
        document.getElementById('bride_rasi_details').innerText = `Moon Sign: ${data.rasi_kootam.bride.moon_sign_name} (${data.rasi_kootam.bride.moon_sign})`;
        document.getElementById('groom_rasi_details').innerText = `Moon Sign: ${data.rasi_kootam.groom.moon_sign_name} (${data.rasi_kootam.groom.moon_sign})`;
        document.getElementById('rasi_out_of').innerText = data.rasi_kootam.out_of;
        document.getElementById('rasi_score').innerText = data.rasi_kootam.score;

        document.getElementById('nadi_kootam').innerText = "Nadi Kootam";
        document.getElementById('bride_nadi_details').innerText = `Nadi: ${data.nadi_kootam.bride.nadi_name} (${data.nadi_kootam.bride.nadi})`;
        document.getElementById('groom_nadi_details').innerText = `Nadi: ${data.nadi_kootam.groom.nadi_name} (${data.nadi_kootam.groom.nadi})`;
        document.getElementById('nadi_out_of').innerText = data.nadi_kootam.out_of;
        document.getElementById('nadi_score').innerText = data.nadi_kootam.score;

        document.getElementById('total_score_value').innerText =`${data.total_score}/${data.out_of}` ;
    }
    async function kundaliMatchingApi(response) {

        var Data = response.data;
        if (Data[0].gender == "Female") {
            girlData = Data[0]
            boyData = Data[1]
        }
        else {
            girlData = Data[1]
            boyData = Data[0]
        }
        var boyName = boyData.name;
        var [byear, bmonth, bday] = boyData.dateOfBirth.split('-');
        var [gyear, gmonth, gday] = girlData.dateOfBirth.split('-');

        var [bhour, bmin, bsec] = boyData.timeOfBirth.split(':')
        var [ghour, gmin, gsec] = girlData.timeOfBirth.split(':')

        var boyDate = bday;
        var boyMonth = bmonth;
        var boyYear = byear;

        var boyhour = bhour;
        var boymin = bmin;
        var boySec = bsec;


        var girlName = girlData.name;
        var girlDate = gday;
        var girlMonth = gmonth;
        var girlYear = gyear;

        var girlhour = ghour;
        var girlmin = gmin;
        var girlSec = gsec;


        var glatitude = girlData.latitude;
        var glongitude = girlData.longitude;

        var blatitude = boyData.latitude;
        var blongitude = boyData.longitude;

        var gtimezone = girlData.timezone;
        var btimezone = boyData.timezone;

        $('#boyName').text(boyName);
        $('#boyHeadName').text(boyName);
        $('#boyDateOfBirth').text(`${boyDate}-${boyMonth}-${boyYear}`);
        $('#boyTimeOfBirth').text(boyData.timeOfBirth);
        $('#boyPlaceOfBirth').text(boyData.placeOfBirth);

        $('#girlName').text(girlName);
        $('#girlHeadName').text(girlName);
        $('#girlDateOfBirth').text(`${girlDate}-${girlMonth}-${girlYear}`);
        $('#girlTimeOfBirth').text(girlData.timeOfBirth);
        $('#girlPlaceOfBirth').text(girlData.placeOfBirth);

        var DataContainer = {
            "female": {
                "year": parseInt(girlYear),
                "month": parseInt(girlMonth),
                "date": parseInt(girlDate),
                "hours": parseInt(girlhour),
                "minutes": parseInt(girlmin),
                "seconds": parseInt(girlSec),
                "latitude": parseFloat(glatitude),
                "longitude": parseFloat(glongitude),
                "timezone": parseFloat(gtimezone)
            },
            "male": {
                "year": parseInt(boyYear),
                "month": parseInt(boyMonth),
                "date": parseInt(boyDate),
                "hours": parseInt(boyhour),
                "minutes": parseInt(boymin),
                "seconds": parseInt(boySec),
                "latitude": parseFloat(blatitude),
                "longitude": parseFloat(blongitude),
                "timezone": parseFloat(btimezone)
            },
            "config": {
                "observation_point": "topocentric",
                "language": "en",
                "ayanamsha": "lahiri"
            }
        }

        console.log(DataContainer);
        $.ajax({
            url: 'https://json.freeastrologyapi.com/match-making/ashtakoot-score',
            type: 'POST',

            headers: {
                'x-api-key': 'y8gZTCePup5YM0XGzDmRf5UbZo4IMcTR9Wg3CZ6Z'
            },
            contentType: 'application/json',
            data: JSON.stringify(DataContainer),
            success: function (response) {
                console.log(response);
                if(response.statusCode===200)
                {
                    fillKootamValues(response.output);
                }
               
            },
            error: function (xhr, status, error) {
                console.error("Error: " + error);
                Swal.fire({
                    title: 'error',
                    text: 'Something went wrong',
                    icon: 'error'
                })
            }
        });




    }



    $.ajax({
        url: BaseUrl + `Api/User/GetLatestKundaliRecord?Id=${localStorage.getItem("userId")}`,
        type: 'GET',

        headers: {

            'Authorization': `Bearer ${localStorage.getItem("Token")}`,
        },


        success: function (response) {


            if (response.status === 200) {

                kundaliMatchingApi(response)

            }
        },
        error: function (xhr, status, error) {
            console.error("Error: " + error);
            Swal.fire({
                title: 'error',
                text: 'Something went wrong',
                icon: 'error'
            })
        }
    });






</script>




<script>
    // Function to fill values using the ids
   

    // Example Data to Fill in the Table


    // Fill the table with values
   
</script>