

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .profile-container {
        max-width: 1170px;
        margin: 07rem auto;
    }
    .profile-sidebar {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 50px;
    }
    .profile-photo {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 5px solid #fff;
        margin-bottom: 20px;
        object-fit: cover;
    }
    .profile-main {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
    }
    .section-title {
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 600;
        color: #333;
    }
    .detail-label {
        font-weight: 500;
        color: #6c757d;
        font-size: 14px;
    }
    .detail-value {
        font-weight: 600;
        color: #495057;
        font-size: 14px;
    }
    @@media screen and (max-width:575px){
        .profile-detals-container{
            width:100% !important;
        }
    }
</style>

<div class="container profile-container ">
    <div class="shadow rounded w-75 mx-auto profile-detals-container">
    <div class="row justify-content-center">
        <!-- Left Sidebar -->
        <div class="col-md-4 ">
            <div class="mb-3 text-center">
                <img id="profileImage" src="~/Img/UserPlaceholder.png" alt="Profile Image" class="profile-photo">
            </div>
          
            <div class="mb-3 justify-content-center d-flex ">
                    <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit Profile</button>
             
            </div>
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <!-- Right Profile Details -->
        <div class="col-md-12 ">
                <div class="section-title px-3">Personal Details</div>
                <div class="row p-3">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-6">
                                <span class="detail-label">Full Name</span>
                            </div>
                            <div class="col-6">
                                <span class="detail-value" id="name"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-6">
                                <span class="detail-label">Email</span>
                            </div>
                            <div class="col-6">

                                <span class="detail-value" id="email"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-6">
                                <span class="detail-label">Phone</span>

                            </div>
                            <div class="col-6">
                                <span class="detail-value" id="mobile"></span>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-6">
                                <span class="detail-label">Gender</span>

                            </div>
                            <div class="col-6">
                                <span class="detail-value" id="gender"></span>

                            </div>
                        </div>
                    </div>
                      <div class="col-sm-6">
                        <div class="row">
                            <div class="col-6">
                                <span class="detail-label">Date of Birth</span>

                            </div>
                            <div class="col-6">
                                <span class="detail-value" id="dateOfBirth"></span>

                            </div>
                        </div>
                    </div>
                   
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-6">
                                <span class="detail-label">Place Of Birth</span>

                            </div>
                            <div class="col-6">
                                <span class="detail-value" id="placeOfBirth"></span>

                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
               <div class="row">  
                   <div class="col-sm-12">
                       <img src="" id="userImage" class="rounded-circle" height="100" width="100" />
                   </div>
                   <div class="col-sm-12">
                       <div class="row">
                           <div class="col-sm-6">
                               <div class="row">
                                   <div class="col-3">
                                       Name :
                                   </div>
                                   <div class="col-8">
                                       <input type="text" id="userName" placeholder="Enter Your Name" class="form-control" name="name" />
                                   </div>
                               </div>
                           </div>
                           <div class="col-sm-6">
                               <div class="row">
                                   <div class="col-3">
                                       Email :
                                   </div>
                                   <div class="col-8">
                                       <input type="email" id="userEmail" placeholder="Enter Your Email" class="form-control" name="email" />
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-3">
                                        Phone Number :
                                    </div>
                                    <div class="col-8">
                                        <input type="number" id="mobno" placeholder="Enter Your Phone Number" class="form-control" name="mobno" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-3">
                                        Gender :
                                    </div>
                                    <div class="col-8">
                                        <input type="radio" class="userGender" name="gender" value="Male" /> Male &nbsp;&nbsp;
                                        <input type="radio" class="userGender" name="gender" value="Female" /> Female
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-3">
                                        Date of Birth :
                                    </div>
                                    <div class="col-8">
                                        <input type="date" id="userdob" class="form-control" name="dob" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-3">
                                        Place of Birth :
                                    </div>
                                    <div class="col-8">
                                        <input type="text" id="userpob" placeholder="Enter Place of Birth" class="form-control" name="pob" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
                   <div class="my-3 text-end px-3"><input type="submit" value="Update" class="btn btn-success" /></div>
                </form>
                </div>
                  </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var Id = localStorage.getItem('userId'); // Assuming Id is stored in localStorage
        debugger;
        $.ajax({
            url: BaseUrl + `api/User/GetUserProfile?Id=${Id}`,
            type: 'GET',
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("Token")}`,
                'Content-Type': 'application/json',
            },
            success: function (response) {
                debugger;
                if (response.status === 200) {
                    var profile = response.data;
                    // Fill in the data fields
                    $('#profileImage').attr('src', profile.profilePictureUrl ? BaseUrl + profile.profilePictureUrl : '/Img/UserPlaceholder.png');
                    $('#name').text(profile.name);
                    $('#email').text(profile.email);
                    $('#mobile').text(profile.mobile);
                    $('#gender').text(profile.gender);
                    $('#dateOfBirth').text(profile.doB !== "null" ? profile.doB : 'N/A');
                    $('#placeOfBirth').text(profile.placeOfBirth !== "null" ? profile.placeOfBirth:'N/A');
          
                    // upate user

                    $('#userImage').attr('src', profile.profilePictureUrl ? BaseUrl + profile.profilePictureUrl : '/Img/UserPlaceholder.png');
                    $('#userName').text(profile.name);
                    $('#userEmail').text(profile.email);
                    $('#mobno').text(profile.mobile);
                    $('#userdob').text(profile.doB !== "null" ? profile.doB : 'N/A');
                    $('#userpob').text(profile.placeOfBirth !== "null" ? profile.placeOfBirth : 'N/A');

                } else {
                    alert('Error: Could not load profile.');
                }
            },
            error: function (xhr, status, error) {
                debugger;
                console.error('Error:', error);
                alert('There was an error fetching the profile data.');
            }
        });
    });
</script>
