<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket 1-to-1 Client</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        #messages {
            margin-top: 10px;
        }

        .message {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>

    <input type="text" class="form-control" id="userId" />
    <button onclick="connectuser()">connect</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js" integrity="sha512-7SRCYIJtR6F8ocwW7UxW6wGKqbSyqREDbfCORCbGLatU0iugBLwyOXpzhkPyHIFdBO0K2VCu57fvP2Twgx1o2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("https://localhost:7118/SendChatRequest", {
                withCredentials: true  
            })
            .build();
        function connectuser() { 
        connection.start().then(() => {

            console.log("user connected to SignalR Hub.");
                connection.invoke("ConnectUser", document.getElementById("userId").value, "client")
                .then(() => {
                    console.log("User connected successfully.");
                })
                .catch(err => {
                    console.error("Error invoking ConnectUser method:", err);
                });
        }).catch(err => console.log(err));
        } 
       
        // Receive messages from users
        connection.on("ReceiveMessage", function (message) {
            console.log("Message from User:", message);
            document.getElementById("adminMessages").innerHTML += message + "<br>";
        });

        // Admin disconnects from SignalR
        function disconnectAdmin() {
            connection.invoke("DisconnectAdmin").catch(err => console.error(err));
        }

        // Listen for admin's connection status
        connection.on("AdminConnected", function (message) {
            console.log(message);
        });

        connection.on("AdminDisconnected", function (message) {
            console.log(message);
        });
    </script>
    <input type="button" value="Disconnect Admin" onclick="disconnectAdmin()">
    <div id="adminMessages"></div>

   
</body>
</html>