<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WebSocket 1-to-1 Client</title>
	<style>
		body {
			font-family: Arial, sans-serif;
		}

		#messages {
			margin-top: 10px;
		}

		.message {
			margin-bottom: 5px;
		}
	</style>
</head>
<body>


	<input type="text" id="userId" />
	<input type="text" id="jyotishId" />
	<input type="text" id="sendBy" />
	<button onclick="makeConnection()">Connect</button>
	<button id="sendRequest">sendRequest</button>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/web-socket-js/1.0.0/web_socket.min.js" integrity="sha512-jtr9/t8rtBf1Sv832XjG1kAtUECQCqFnTAJWccL8CSC82VGzkPPih8rjtOfiiRKgqLXpLA1H/uQ/nq2bkHGWTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script>
		function establishedConnection() {
			var userId=document.getElementById("userId").value
			var sendBy = document.getElementById("sendBy").value
			let socket = new WebSocket(`ws://localhost:7118/api/chat/sendChatRequest?id=${userId}&sendBy=client`);
			return new Promise((res, rej) => {
				if (socket) {

					res(socket)
				} else {
					rej(false)
				}
			});
		}
		function makeConnection() {
			establishedConnection().then((socket) => {
				if (socket) {
					socket.onopen = function (event) {
						console.log('WebSocket connection established:', event);
					};
					socket.onmessage = function (event) {

					};

					socket.onerror = function (event) {
						console.error('WebSocket error observed:', event);
						Swal.fire({
							text: "some error occured while making connection",
							title: "error",
							icon: "error"
						});
					};

					socket.onclose = function (event) {
						console.log('WebSocket connection closed:', event);

					};


					$("#sendRequest").click(function (e) {
						
						if (socket && socket.readyState === WebSocket.OPEN) {

								var jyotishId = document.getElementById("jyotishId").value
							if (jyotishId && message) {

								socket.send(`${jyotishId}`);
							}

						}
					});
				}

			});
		}
	</script>
</body>
</html>