<script src="https://media.twiliocdn.com/sdk/js/client/v1.13/twilio.min.js"></script>
<button class="call-button">connect</button>
<script>
	const callButton = document.querySelector('.call-button');
	
	$.ajax({
		url: `${BaseUrl}api/call/accessToken?identity=user2`,
		type: "get",
		success: function (data) {
			debugger
			Twilio.Device.setup(data.token);
			Twilio.Device.on('incoming', function (call) {
				console.log('Incoming call!');
				call.accept();
			});
			Twilio.Device.on('ready', function () {
				console.log("Twilio Device is ready!");
			});
			// Handle connect (call established)
			Twilio.Device.on('connect', function (conn) {
				console.log('Call connected!');
			});

			// Handle disconnect (call ended)
			Twilio.Device.on('disconnect', function (conn) {
				console.log('Call ended.');
			});

			// Click event to initiate a call
			callButton.addEventListener('click', function () {
				console.log('Attempting to call...');
				Twilio.Device.connect();
			});

			// Error handling
			Twilio.Device.on('error', function (error) {
				console.error('Error with Twilio device: ', error);
			});


		}
	})

</script>