<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/Img/mylogo.png" rel="icon"/>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="~/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />


    <!-- Libraries Stylesheet -->


    <!-- Customized Bootstrap Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
  
    
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="~/Jquery-validation/JqueryValidations.js"></script>
    <script src="~/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

    <style>
        .datepicker {
            z-index: 10000 !important; /* Ensure datepicker is above other elements */
            font-size: 1.1rem; /* Slightly larger font size for datepicker */
        }

            .datepicker table {
                width: 100%; /* Full width */
            }

            .datepicker th {
                background-color: white; /* Header background color */
                color: #007bff; /* Header text color */
                padding: 7px; /* More padding for header */
                border: 1px solid #007bff;
            }

            .datepicker td {
                text-align: center; /* Center align dates */
                padding: 5px; /* More padding for dates */
            }

                .datepicker td.day:hover {
                    background-color: #e9ecef; /* Light hover effect */
                    cursor: pointer; /* Pointer cursor on hover */
                }

                .datepicker td.day.active {
                    background-color: #007bff; /* Active date color */
                    color: white; /* Active date text color */
                }

                .datepicker td.day.disabled {
                    color: #ced4da; /* Disabled dates color */
                }
</style>
</head>

<body >
    <script>
       var BaseUrl = "https://api.myjyotishg.in/"
      //var BaseUrl = "https://localhost:7118/"
    </script>
    @RenderBody()

 

</body>

</html>