@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "PendingJyotishLayout";
}


<div class="container mt-4 justify-content-center">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-secondary " role="alert">
                <span class="font-weight-bold">Status:</span>
                <span class="ml-2">Pending</span>
            </div>
        </div>
    </div>
</div>