@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div id="dashboardAlternateDiv" class="d-flex justify-content-center align-items-center mt-2">
    <div class="border border-danger bg-light p-3 rounded justify-content-center text-center" style="width: 80%; max-width: 600px;">

        <h4 class="text-danger">Your Profile Has Been Rejected</h4>
        <p class="text-danger" id="RejectedMessage"></p>

        <p class="text-danger">Please review your information and try again. If you need further assistance, feel free to contact support.</p>


    </div>
</div>